<div class="page">
<div class="fixed-top">
    <app-navbar></app-navbar>
</div>

 <!-- Breadcrumbs-->
 <section class="breadcrumbs-custom breadcrumbs-custom-svg">
    <div class="shell">
      <p style="color: white;" class="breadcrumbs-custom-subtitle">Prenez contact avec nous</p>
      <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Contact</p>
      <ul class="breadcrumbs-custom-path">
        <li><a style="color: white;" class="toHome" href="#">Accueil</a></li>
        <li style="color: white;"  class="active">Contact</li>
      </ul>
    </div>
  </section>


   <!-- Contact information-->
   <section class="section section-lg bg-default">
    <!-- section wave-->
    <div class="section-wave">
      <svg x="0px" y="0px" width="1920px" height="45px" viewbox="0 0 1920 45" preserveAspectRatio="none">
        <path d="M1920,0c-82.8,0-108.8,44.4-192,44.4c-78.8,0-116.5-43.7-192-43.7 c-77.1,0-115.9,44.4-192,44.4c-78.2,0-114.6-44.4-192-44.4c-78.4,0-115.3,44.4-192,44.4C883.1,45,841,0.6,768,0.6 C691,0.6,652.8,45,576,45C502.4,45,461.9,0.6,385,0.6C306.5,0.6,267.9,45,191,45C115.1,45,78,0.6,0,0.6V45h1920V0z"></path>
      </svg>
    </div>
    <div class="container container-bigger">
      <div class="row row-50 justify-content-md-center justify-content-xl-between">
        <div class="col-md-10 col-lg-7">
            <h3>Nous contacter</h3>
          <hr class="divider divider-left divider-default">
          <p class="big">Vous pouvez nous contacter de la manière qui vous convient. Nous sommes disponibles 24/7 par fax ou e-mail. Vous pouvez également utiliser un formulaire de contact rapide ci-dessous ou visiter notre bureau personnellement.</p>
         <!-- RD Mailform-->
         <form *ngIf="!submitted" class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact"
         method="post" action="bat/rd-mailform.php">
         <div class="row row-20">
             <div class="col-md-12">
                 <div class="form-wrap form-wrap-validation">
                     <label class="form-label-outside" for="forms-3-name">Nom & Prénom:</label>
                     <input class="form-input" id="forms-3-name" type="text" placeholder="Nom & Prénom"
                     [(ngModel)]="contact.nom_prenom"
                     name="nom_prenom"
                     required>
                 </div>
             </div>
             <div class="col-sm-12">
                 <label class="form-label-outside">Email:</label>
                 <div class="form-wrap form-wrap-inline">
                     <input class="form-input" placeholder="Email" type="text" 
                     [(ngModel)]="contact.email"
                     name="email">
                 </div>
             </div>
             <div class="col-sm-12">
                 <label class="form-label-outside">Sujet:</label>
                 <div  class="form-wrap form-wrap-inline">
                     <input class="form-input" id="forms-3-state" placeholder="Sujet" type="text" 
                     [(ngModel)]="contact.subject"
                     name="subject">
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-wrap form-wrap-validation">
                     <label class="form-label-outside" for="forms-3-message">Message:</label>
                     <textarea class="form-input form-input-lg" id="forms-3-message" name="message"
                     [(ngModel)]="contact.message" placeholder="message"></textarea>
                 </div>
             </div>
             <div class="col-lg-12 offset-custom-1">
                 <div class="form-button">
                     <button class="button button-secondary" (click)="onSubmit()" type="submit">Envoyer</button>
                 </div>
             </div>
         </div>
     </form>
     <div style="margin-top:50px;" *ngIf="submitted" class="vivify spinIn">
        <h4>Vous avez soumis avec succès !</h4>
        <button class="btn btn-success" (click)="newContact()">Add</button>
      </div>
        </div>
        <div class="col-md-10 col-lg-5 col-xl-4">
          <div class="column-aside">
            <div class="row row-30 row-md-50 row-xxl-90">
              <div class="col-sm-10 col-md-6 col-lg-12">
                <h6>Adresse</h6>
                <hr class="divider-thin">
                <article class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span><span><a href="#">	8 avenue sainte-foy, Neuilly sur  <br class="d-none d-xl-block"> 0  seine, 9220</a></span></article>
              </div>
              <div class="col-sm-10 col-md-6 col-lg-12">
                <h6>Téléphone</h6>
                <hr class="divider-thin">
                <article class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                  <ul class="list-comma">
                    <li><a href="tel:#">+33 06 95 33 18 90</a></li>
                  </ul>
                </article>
              </div>
              <div class="col-sm-10 col-md-6 col-lg-12">
                <h6>E-mail </h6>
                <hr class="divider-thin">
                <article class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><span><a href="mailto:#">Admin@assistantrenovationenergie.fr</a></span></article>
              </div>
              <div class="col-sm-10 col-md-6 col-lg-12">
                <h6>Horaires d'ouvertures </h6>
                <hr class="divider-thin">
                <article class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-calendar-clock"></span>
                  <ul class="list-0">
                    <li>Lun-Vend: 9:00 am–6:00 pm</li>
                    <li>Sam–Dim: 11:00 am–4:00 pm</li>
                  </ul>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




<app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>