<div class="page">

  <div class="fixed-top">
    <app-navbar></app-navbar>
  </div>
  <header>
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
      <div class="shell">
  =      <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Blog</p>
       
      </div>
    </section>
  </header>

  <!-- Single post-->
  <section class="section section-lg bg-default">
    <!-- section wave-->
    <div class="container-wide">
      <div class="row justify-content-sm-center">
        <div class="col-lg-10 col-xl-8 col-xxl-6 sections-collapsable">
          <article class="post-blog-article">
            <ul class="post-blog-article-meta group-xl">
              <li>
                <div class="box-inline"><span class="icon novi-icon icon-md icon-primary mdi mdi-calendar-clock"></span>
                  <time datetime="2018">{{currentArticle.createdAt | date:'medium'}} </time>
                </div>
              </li>
            </ul>
            <p class="big" style="text-align: center;"> {{currentArticle.subject}}</p>
            <img src="https://backend.assistantrenovationenergie.fr/uploads/{{currentArticle.picture}}" alt="" width="870" height="580" />
            <article class="quote-primary">
              <p>{{currentArticle.content}}</p>
              <p class="quote-primary-meta"><span>by</span><span class="cite"> {{currentArticle.author}}</span></p>
            </article>

          </article>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer Alternative-->
  <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>