   <!-- Page Footer-->
      <!-- Footer Alternative-->
      <footer class="section page-footer page-footer-alternative bg-gray-darker">
        <div class="container-wide p-4">
          <div class=" row row-50 justify-content-sm-center justify-content-xl-between">
            <div class="col-md-6 col-xl-3">
              <h6>Notre Société</h6>
              <p>Parce qu’avec nous, vous pouvez faire isoler vos combles, poser des panneaux solaires performants ou une pompe à chaleur dernier cri. Ainsi, vous protégerez notre environnement activement. Et vous économiserez des milliers d’euros par an.</p>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Les Avantages De L’isolation Par L’extérieur: </h6>
              <div class="instafeed text-center" data-lightgallery="group">
                <ul class="list-xs list-darker">
                   
                      <li class="box-inline"> <svg style="color: #8ec942;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dice-1" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="1.5"/>
                        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                      </svg>
                        <ul class="list-comma">
                          <li><a href="#">Meilleure Efficacité Énergétique
                        </a></li>
                        </ul>
                      </li>
                      <li class="box-inline"><svg style="color: #8ec942;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dice-2-fill" viewBox="0 0 16 16">
                        <path d="M0 3a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3zm5.5 1a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm6.5 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                      </svg>
                        <ul class="list-comma">
                          <li><a href="#">Améliorez Votre Confort Thermique
                        </a></li>
                        </ul>
                      </li>
                      <li class="box-inline"> <svg style="color: #8ec942;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dice-3" viewBox="0 0 16 16">
                        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3z"/>
                        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                        <ul class="list-comma">
                          <li><a href="#">Meilleur Confort Acoustique

                        </a></li>
                        </ul>
                      </li>
                      <li class="box-inline"> <svg  style="color: #8ec942;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dice-4-fill" viewBox="0 0 16 16">
                        <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm1 5.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm8 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm1.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM4 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                      </svg>
                        <ul class="list-comma">
                          <li><a href="#">Valorisation De Votre Bien

                        </a></li>
                        </ul>
                      </li>
                  </ul>
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Contact US</h6>
              <ul class="list-xs list-darker">
                <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span>
                  <div><a href="https://www.google.com/maps/search/%098+avenue+sainte-foy,+Neuilly+sur+0++seine,+9220/@48.885315,2.2655539,17z" target="_blank">8 avenue sainte-foy, Neuilly sur 0<br class="d-none d-xxl-block"/>&nbsp;
                    seine, 9220</a></div>
                </li>
                <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                  <ul class="list-comma">
                    <li><a href="tel:#">+33 06 95 33 18 90</a></li>
                  </ul>
                </li>
                <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">Admin@assistantrenovationenergie.fr</a></li>
              </ul>
              <ul class="page-footer-icon-list social-icons-list">
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
            <div class="col-md-6 col-xl-3">
              <h6>Newsletter</h6>
              <p class="text-spacing-sm">
                Tenez-vous au courant de nos fonctionnalités et technologies toujours à venir. Entrez votre e-mail et abonnez-vous à notre newsletter.</p>
              <!-- RD Mailform: Subscribe-->
              <form class="rd-mailform rd-mailform-inline rd-mailform-sm" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="rd-mailform-inline-inner">
                  <div class="form-wrap">
                    <input class="form-input" placeholder="Entrer votre Email" type="email" name="email" data-constraints="@Email @Required" id="subscribe-form-email-1"/>
                  </div>
                  <button class="button form-button button-sm button-secondary" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="divider-xl"></div>
          <div class="row align-items-sm-center row-30 text-left">
            <div class="col-xl-6 text-xl-left">
              <ul class="page-footer-inline-list">
                <li><a routerLink="/aboutus"  href="#">Notre Société</a></li>
                <li><a href="services.html">Nos Offres</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/contact" >Contact</a></li>
              </ul>
            </div>
            <div class="col-xl-6 text-xl-right">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>