<div class="page">
  <div class="fixed-top">
    <app-navbar></app-navbar>
  </div>

  <!-- Breadcrumbs-->
  <section class="breadcrumbs-custom breadcrumbs-custom-svg">
    <div class="shell">
      <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Notre Société</p>
      <ul class="breadcrumbs-custom-path">
        <li><a style="color: white;"class="toHome" href="#">Testez Votre éligibilité</a></li>
        <li style="color: white;" class="active">Notre Société</li>
      </ul>
    </div>
  </section>

  <!-- hi, we are brave-->
  <!-- <section class="section section-lg bg-default"> -->
    <!-- section wave-->
    <!-- <div class="container container-bigger">
      <div class="row row-50 justify-content-md-center align-items-lg-center justify-content-xl-between">
        <div class="col-md-10 col-lg-6 col-xl-5">
          <h3>Pourquoi ARE ?</h3>
          <div class="divider divider-default"></div>
          <p class="heading-5 mb-4">Parce qu’avec nous, vous pouvez faire isoler vos combles, poser des panneaux
            solaires performants ou une pompe à chaleur dernier cri. Ainsi, vous protégerez notre environnement
            activement. Et vous économiserez des milliers d’euros par an.</p>

          <h5>OK, mais comment fait-on ?</h5>
          <p>ARE travaille depuis plus de 10 ans dans l’isolation et est devenue experte dans l’aide à
            l’obtention de subventions pour les travaux de mise aux normes de transition
            énergétique. Donc, pour faire simple : nous connaissons la musique (administrative). Et
            nous connaissons aussi notre métier. Alors, avant de vous lancer seul/e dans l’aventure,
            parlons-en !</p>
        </div>
        <div class="col-md-10 col-lg-6"><img src="../../../assets/images/about-us-1-720x459.jpg" alt="" width="720"
            height="459" />
        </div>
      </div>
    </div>
  </section> -->
  <!-- Small Features-->

       <!-- Current Opennings-->
       <section class="section section-lg text-center bg-gray-lighter">
        <div class="container container-wide">
          <h3>Nos Avantages
          </h3>
          <div class="divider divider-default"></div>
          <div class="row row-30 justify-content-center text-left">
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="box-info">
                <div class="box-info-inner">
                  <h6 class="box-info-title"><a onclick='return false;' href="#">Un Délai De Rétractation
                  </a></h6>
                  <p>
                    Les travaux effectués peuvent paraître impressionnant, c’est pourquoi nous vous laissons
jusqu’à 14 jours après la signature du devis, la possibilité d’y renoncer. Pendant ce délai,
nous restons à votre disposition pour répondre à toutes questions que vous pourriez avoir.
                  </p>
                </div>
               
              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="box-info">
                <div class="box-info-inner">
                  <h6 class="box-info-title"><a onclick='return false;' href="#">Un Contrôle Gratuit Après Chantier
                  </a></h6>
                  <p>Travaillons ensemble et en toute confiance : un bureau d’étude indépendant vérifiera gratuitement la qualité des travaux effectués, pour vous assurer qualité et tranquillité.
                  </p>
                </div>
               
              </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="box-info">
                <div class="box-info-inner">
                  <h6 class="box-info-title"><a onclick='return false;' href="#">Une Visite Technique Systématique</a></h6>
                  <p>Pour assurer une optimisation de nos travaux ainsi que leur qualité, un de nos techniciens
                    spécialisé vérifiera les conditions de sécurité de chantier avant les travaux tout en
                    échangeant avec vous sur la solution la plus adaptée à vos besoins.</p>
                </div>
                
              </div>
            </div>
            <div class="col-xl-5 col-md-6 col-lg-4">
              <div class="box-info">
                <div class="box-info-inner">
                  <h6 class="box-info-title"><a onclick='return false;' href="#">Des Artisans locaux qualifiés</a></h6>
                  <p>Avec nous, restez tranquilles : Nos 42 partenaires et artisans vérifiés ont été
                    sélectionnés pour leur sérieux, leur savoir-faire et la qualité de leurs prestations. Ces prestations sont évaluées et notées par nos clients afin d’assurer une qualité constante dans
                    nos services.</p>
                </div>
               
              </div>
            </div>


            <div class="col-xl-5 col-md-6 col-lg-4">
              <div class="box-info">
                <div class="box-info-inner">
                  <h6 class="box-info-title"><a onclick='return false;' href="#">Pas de démarchage</a></h6>
                  <p>Afin de respecter votre vie
                    privée, nous ne vous contacterons qu’après sollicitation de votre part, via notre formulaire
                    internet <span > <a href="#">(Testez votre éligibilité)</a></span>.</p>
                </div>
                
              </div>
            </div>

          </div>
        </div>
      </section>
  <!-- <section class="section section-wrap bg-gray-lighter section-reverse">
    <div class="section-wrap-inner">
      <div class="container container-bigger">
        <div class="row row-50 justify-content-md-center justify-content-lg-end">
          <div class="col-md-10 col-lg-7">
            <div class="section-wrap-content section-lg">
              <h3>Nos avantages</h3>
              <div class="divider divider-default"></div>
              <div class="row row-30">
                <div class="col-sm-6">
                  <article class="box-minimal box-minimal-light">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                      <h6>Pas de démarchage</h6>
                    </div>
                    <div class="box-minimal-text">Pas de matraquage ici : nous vous contactons uniquement après nous
                      avoir sollicités via le formulaire internet.</div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="box-minimal box-minimal-light">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-note35"></div>
                      <h6>Des Artisans locaux qualifiés
                      </h6>
                    </div>
                    <div class="box-minimal-text">Avec nous, restez tranquilles : nos 42 partenaires et artisans sont
                      sérieux, vérifiés et leurs prestations sont
                      évaluées et notées par nos clients.</div>
                  </article>
                </div>
              </div>
              <div class="row row-30">
                <div class="col-sm-6">
                  <article class="box-minimal box-minimal-light">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                      <h6>Une visite technique systématique</h6>
                    </div>
                    <div class="box-minimal-text">Pas d’improvisation : un technicien vérifie les conditions de sécurité
                      du chantier avant les travaux afin de vous
                      proposer la meilleure solution.</div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="box-minimal box-minimal-light">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-note35"></div>
                      <h6>Un contrôle gratuit après chantier
                      </h6>
                    </div>
                    <div class="box-minimal-text">Travaillons ensemble et en toute confiance : un bureau d’étude
                      indépendant vérifiera gratuitement la qualité des
                      travaux effectués. Qui fait mieux ?</div>
                  </article>
                </div>
              </div>
              <div class="row row-30">
                <div class="col-sm-6">
                  <article class="box-minimal box-minimal-light">
                    <div class="box-minimal-header">
                      <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                      <h6>Un délai de rétractation</h6>
                    </div>
                    <div class="box-minimal-text">Ces investissements entraînent parfois des dépenses importantes. Pour
                      avoir le temps de la réflexion et décider
                      sereinement, pensez-y pendant 14 jours : vous pourrez toujours renoncer au devis signé dans ce
                      délai. Alors ?</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-wrap-aside section-wrap-image section-wrap-image-right"><img
          src="../../../assets/images/image-3-945x770.jpg" alt="" width="945" height="770" />
      </div>
    </div>
  </section> -->


  <!-- Our history-->
  <section class="section section-lg bg-white">
    <div class="container container-bigger">
      <div class="row row-50 justify-content-sm-center justify-content-xl-between">
        <div class="col-12 col-md-6 ">
          <h3>Où nous trouver ? </h3>
          <div class="divider divider-default"></div>
          <p class="text-gray-light">Prêts pour plus d’informations ou pour demander un devis ?</p>
          <div class="container">
            <div class="row ">
              <div class="col-lg-12 col-xl-12">
                <ul class="list-marked">
                  <li>EnergiesFrançaises, c’est plus de 42 Entreprises locales certifiées partout en France.</li>
                  <li>Votre chantier du bout des doigts : un suivi simple et rapide des travaux – en temps réel – sur
                    votre espace client.</li>
                  <li>Contact en temps réel : un accompagnement sérieux de la prise de contact
                    au suivi de fin de chantier. Nos conseillers sont disponibles et prêts à répondre à vos
                    attentes.
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-6">
          <div style=" width:100%; height:100%; text-align: center;"><img
            src="../../../assets/images/0.png" alt="" />
        </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Map FR-->
  <section class="section">
    <!-- RD Google Map-->
    <!-- <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q=france&t=&z=6&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div> -->
    <!-- <div style=" width:100%; height:100%; text-align: center;"><img
      src="../../../assets/images/0.png" alt="" />
  </div> -->
  </section>


  <!-- Footer Alternative-->
  <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>