<div class="page">

    <div class="fixed-top">
        <app-navbar></app-navbar>
    </div>

    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
        <div style="color: white;" class="shell">
            <p style="color: white;" class="breadcrumbs-custom-subtitle">Nos Offres</p>
            <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Isolation par l’intérieur</p>
            <ul style="color: white;" class="breadcrumbs-custom-path">
                <li style="color: white;"><a style="color: white;" class="toHome" href="index.html"> Testez votre
                        éligibilité </a></li>
                <li style="color: white;" class="active">Nos Offres</li>
                <li style="color: white;" class="active">Isolation par l’intérieur</li>
            </ul>
        </div>
    </section>

    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-md-10 col-lg-6 col-xxl-6">
                    <h3>Murs intérieurs :</h3>
                    <div class="divider divider-default"></div>
                    <!-- Bootstrap collapse-->
                    <div class="card-group-custom card-group-light" id="accordion1a" role="tablist"
                        aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1aHeading1a" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1a" href="#accordion1aCollapse1a"
                                        aria-controls="accordion1aCollapse1a" aria-expanded="false">Pourquoi isoler vos murs intérieurs ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse " id="accordion1aCollapse1a" role="tabpanel"
                                aria-labelledby="accordion1aHeading1a">
                                <div class="card-body">
                                    <p>Plusieurs options s’offrent aux propriétaires des maisons anciennes pour l’isolation d’un mur intérieur de maison ancienne en pierre ou en brique. Pour les cas de bâtisse dont les murs ne sont pas droits, une isolation par l’intérieur permet grandement de rattraper les diverses inégalités en procédant à la mise en place d’un doublage sur ossature métallique. Grâce à cette solution, les vieux murs pourront garder la chaleur après les travaux de rénovation.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1aHeading2a" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1a" href="#accordion1aCollapse2a"
                                        aria-controls="accordion1aCollapse2a" aria-expanded="false" >L'isolation des murs intérieurs
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse " id="accordion1aCollapse2a" role="tabpanel"
                                aria-labelledby="accordion1aHeading2a">
                                <div class="card-body">
                                    <p>En général, l’entreprise de construction peut poser directement le matériau isolant au contact du mur. Cependant, les murs poreux comme la pierre tendre, les torchis ou encore les murs pisés ont besoin d’une lame d’environ 2 cm entre les deux mûrs afin que l’air puisse circuler. Cependant, cela peut également varier selon la région et les conditions climatiques et géographiques où la maison se trouve.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading3a" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse3a"
                                        aria-controls="accordion1Collapse3a" >L’isolation d’un mur en pierre c'est quoi ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse3a" role="tabpanel"
                                aria-labelledby="accordion1Heading3a">
                                <div class="card-body">
                                    <p>Que ce soit un mur en brique ou en pierre, l’isolation doit toujours avoir lieu afin d’éviter de gaspiller de l’argent pour régler les factures d’énergies. Cependant, les méthodes d’isolation peuvent être différentes selon le type de murs.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading4a" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse4a"
                                        aria-controls="accordion1Collapse4a">Isoler un mur en pierre par l’intérieur
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse4a" role="tabpanel"
                                aria-labelledby="accordion1Heading4a">
                                <div class="card-body">
                                    <p>Il s’agit de la méthode la plus facile à faire pour isoler un mur intérieur en pierre. D’ailleurs, c’est la méthode que l’entreprise à qui vous allez confier vos travaux vous suggéra à coup sûr. Pour isoler ce mur par l’extérieur, il est important de laisser environ 2 cm d’espace entre le mur en pierre et le matériau isolant. Cela vise alors à permettre à une lame d’air de circuler afin de laisser le mur en pierre respirer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div>
                <br><br><br><br><br><br>

            </div>
        </div>
    </section>



    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div>
                <br><br><br><br><br><br>

                <div class="col-md-10 col-lg-6 col-xxl-6">
                    <h3>Combles :</h3>
                    <div class="divider divider-default"></div>
                    <div class=" card-group-custom card-group-corporate" id="accordion1" role="tablist"
                        aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse1"
                                        aria-controls="accordion1Collapse1" aria-expanded="true">Pourquoi isoler vos
                                        combles ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse " id="accordion1Collapse1" role="tabpanel"
                                aria-labelledby="accordion1Heading1">
                                <div class="card-body">
                                    <p>Les combles sont le premier lieu de déperdition énergétique. Effectivement le
                                        toit est la voie la plus
                                        énergivore. L’air chaud est plus léger que l’air froid, il a donc tendance à se
                                        diriger vers le haut du logement. Des
                                        combles non isolés c’est 30% de votre facture d’énergie qui s’envole.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading2" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse2"
                                        aria-controls="accordion1Collapse2">L’isolation des combles aménageables
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse2" role="tabpanel"
                                aria-labelledby="accordion1Heading2">
                                <div class="card-body">
                                    <p>L’isolation des combles aménageables permet d’isoler la totalité de la partie
                                        habitable tout en vous préservant
                                        un accès et une utilisation de vos combles (isolation des toitures).</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading3" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse3"
                                        aria-controls="accordion1Collapse3">L'isolation des combles perdus
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse3" role="tabpanel"
                                aria-labelledby="accordion1Heading3">
                                <div class="card-body">
                                    <p>L’isolation de vos combles perdus, vous permet de bénéficier d’une économie
                                        d’énergie d’environ 30%. Pour
                                        l’isolation de vos combles perdus nous projetons des flocons de laine de verre
                                        entre 33 à 40cm d’épaisseur.
                                        Ou nous procédons au déroulé de laines de verres de 28cm d’épaisseur sur votre
                                        plancher.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>




    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">

                <div class="col-md-10 col-lg-6 col-xxl-6">
                    <h3>Garages :</h3>
                    <div class="divider divider-default"></div>
                    <br><br><br>
                    <div class="accordion" id="accordionExample">
                        <div class="card card-custom card-corporate">

                            <div class="card-headerg" id="headingOne" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">Pourquoi isoler votre garage ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    L’isolation de votre garage vous permet de faire des économies d’énergie d’environ
                                    20% mais aussi
                                    d’améliorer votre confort. L’isolation du plafond ou le mur mitoyen de votre garage
                                    vous permet de supprimer
                                    les ponts thermiques.
                                </div>
                            </div>
                        </div>
                        <div class="card  card-custom card-corporate">
                            <div class="card-headerg" id="headingTwo" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">L'isolation du plafond de votre
                                        garage
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    L’isolation du plafond de votre garage est prise en charge pour 1 euro lorsqu’il est
                                    sous une pièce chauffée.
                                    Nous utilisons des plaques de polystyrène, que nous splittons sur le plafond de
                                    votre garage. </div>
                            </div>
                        </div>
                        <div class="card  card-custom card-corporate">
                            <div class="card-headerg" id="headingThree" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">L'isolation du mur mitoyen de
                                        votre garage
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorsque votre garage est attenant à la maison nous isolons le mur mitoyent entre la
                                    maison et votre garage du
                                    cotés de votre garage. Ce qui vous permet d’éviter des déperditions de chaleur.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div>

            </div>
        </div>
    </section>






    

    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div>
                <br><br><br><br><br><br>

                <div class="col-md-10 col-lg-6 col-xxl-6">
                    <h3>Sous-sol et Cave :</h3>
                    <div class="divider divider-default"></div>
                    <div class=" card-group-custom card-group-corporate" id="accordion1" role="tablist"
                        aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading11" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse11"
                                        aria-controls="accordion1Collapse11" aria-expanded="true">Pourquoi isoler votre cave ou votre sous-sol ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show" id="accordion1Collapse11" role="tabpanel"
                                aria-labelledby="accordion1Heading11">
                                <div class="card-body">
                                    <p>L’isolation de votre cave ou sous-sol vous permet l’amélioration de la performance énergétique de votre
                                        habitation ceci englobe trois avantages majeurs : améliorer votre confort, préserver la chaleur et réduire
                                        l’émission de gaz carbonique dans l’atmosphère.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading22" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse22"
                                        aria-controls="accordion1Collapse22">L'isolation du plafond de votre cave ou de votre sous-sol
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse22" role="tabpanel"
                                aria-labelledby="accordion1Heading22">
                                <div class="card-body">
                                    <p>Nous isolons le plafond de votre cave ou sous-sol ce qui permet d’éviter les déperditions thermiques avec vos
                                        pièces chauffer au-dessus.</p>
                                </div>
                            </div>
                        </div>
                       

                    </div>
                </div>

            </div>
        </div>
    </section>





    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">

                <div class="col-md-10 col-lg-6 col-xxl-6">
                    <h3>Vide sanitaire :</h3>
                    <div class="divider divider-default"></div>
                    <br><br><br>
                    <div class=" card-group-custom card-group-light" id="accordion">

                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion2Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse1" aria-expanded="true">Qu’est-ce qu’un vide sanitaire ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="card-body">
                                    On trouve généralement un vide sanitaire dans les maisons anciennes. Il s’agit d’un
                                    espace que l’on trouve sous la
                                    maison avec une hauteur variant entre 20 cm et 1,20 m. À noter que ce vide n’est pas
                                    là pour rien. Il a en effet
                                    pour rôle d’isoler le bâtiment tout en évitant l’humidité du sol, d’éviter les
                                    conséquences des mouvements et
                                    terrains, mais il permet également de faire passer les câbles ainsi que les
                                    canalisations. Isoler un vide sanitaire
                                    existant permet d’éviter la déperdition de chaleur.
                                </div>
                            </div>
                        </div>


                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion2Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse2" aria-expanded="true">Pourquoi isoler un vide sanitaire ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <div class="card-body">
                                    Isoler ce vide a pour atout principal, c’est de garantir moins de déperditions de
                                    chaleur. Étant bien isolé, cet
                                    espace permet de diffuser une chaleur dans la maison. Ainsi, on peut assurer une
                                    économie pouvant aller jusqu’à
                                    10 %. De plus, cela permet d’éviter les moisissures, les mauvaises odeurs, etc. Par
                                    ailleurs, cette isolation n’a
                                    aucun impact sur la surface habitable.
                                    Vous souhaitez économiser entre 10 et 15 % de votre facture énergétique ? Pour cela,
                                    il s’avère important
                                    d’effectuer l’isolement de votre vide sanitaire.
                                </div>
                            </div>
                        </div>



                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion2Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapse3" aria-expanded="true">L'isolation de votre vide sanitaire
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <div class="card-body">
                                    Nous isolons le plafond de votre vide sanitaire ce qui permet d’éviter les
                                    déperditions de chaleur avec les pièces
                                    au-dessus.
                                    Mais aussi de maintenir la chaleur pour vos conduits de gaz ou d’eau chaude qui
                                    passe dans votre vide sanitaire.
                                    Nous utilisons du thermoreflecteur multicouche ou des dalles de polystyrène que nous
                                    fixons directement sur le
                                    plafond de votre vide sanitaire.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div>

            </div>
        </div>
    </section>


    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>