<!-- Page-->
<div class="page">
    <div class="fixed-top">
        <app-navbar></app-navbar>
    </div>

    <!-- Green Energy-->
    <section class="imageH">
        <div class="container">

            <div class="row">

                <div class="col-12" style="height: 1200px;">
                    <div #target>
                        <app-quiz></app-quiz>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--cta-->
    <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
            <div class="box-cta-thin">
                <p class="big"><span>Tous nos artisans sont certifiés <strong>RGE</strong>  et <strong>QUALIBAT</strong>  
                </span>&nbsp;&nbsp;&nbsp;&nbsp;<a class="link-bold"
                        routerLink="/contact" routerLinkActive="active" href="#">Contactez-nous maintenant !</a></p>
            </div>
        </div>
    </section>


    <!--comment ça marche-->
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style=" text-align: center;">
                        <h2  style="font-family: 'Montserrat', sans-serif;"> <span > Comment ça marche ?</span> </h2>
                    </div>
                    <div class="row row-40">
                        <div><img src="../../../assets/images/Comment ca marche_Plan de travail 1.jpg" alt="" width="auto" alt="auto" />
                        </div>
                        <!-- <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                                    <h6 class="box-minimal-title">Best Service</h6>
                                </div>
                                <div class="box-minimal-text"> <strong>Réalisez sans engagement</strong>  votre demande en ligne.</div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-note35"></div>
                                    <h6 class="box-minimal-title">Reputation</h6>
                                </div>
                                <div class="box-minimal-text">Un conseiller <strong>vous contacte sous 24h</strong> aprés l'inscription.</div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                                    <h6 class="box-minimal-title">Safety & Security</h6>
                                </div>
                                <div class="box-minimal-text">Une visite technique gratuite obligatoire est réalisée pour préparer votre chantier.</div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                                    <h6 class="box-minimal-title">Safety & Security</h6>
                                </div>
                                <div class="box-minimal-text">Vous signezvotre devis et vos travaux sont réalisés.</div>
                            </article>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- a few words about us-->
    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div
                class="row row-50 justify-content-md-center align-items-lg-center flex-xl-row-reverse justify-content-xl-between">
                <div class="col-md-9 col-lg-5 text-gray-light">
                    <h3 style="font-size: xx-large;"> <strong>Pourquoi ARE ?</strong> </h3>
                    <div class="divider divider-default"></div>
                    <p class="heading-5">La raison d’être principale de l’entreprise ARE est la lutte contre la
                        précarité énergétique. Elle agit en effet pour vous aider à améliorer votre isolation.
                    </p>

                    <br>
                    <p class="heading-5">Pour ce faire, l’entreprise ARE peut effectuer des travaux d’isolation auxquels les ménages pourront ensuite réaliser jusqu’à 70% d’économies sur leur facture. Des économies synonymes de respect de l'environnement , performances énergétiques optimisées, de meilleur confort, mais aussi de valorisation de votre bien.</p>

                    <a class="button button-secondary" routerLink="/aboutus" routerLinkActive="active" href="#">En
                        savoir plus</a>
                </div>
                <div class="col-md-9 col-lg-6"><img src="../../../assets/images/blog-03-870x580.jpg" alt="" width="870"
                        height="580" />
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div style=" text-align: center;">
        <h2 style="font-family: 'Montserrat', sans-serif;"> <span> Nos Offres</span> </h2>
    </div>

    <br>
    <br>
    <section class="section section-wrap section-wrap-equal bg-default">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row justify-content-md-center justify-content-lg-start">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>Isolation par l'intérieur</h3>
                            <div class="divider divider-default"></div>
                            <p> <strong>Pourquoi isoler vos murs intérieurs ?</strong> </p>
                            <p>Plusieurs options s’offrent aux propriétaires des maisons anciennes pour l’isolation d’un mur intérieur de maison ancienne en pierre ou en brique. </p><a
                                class="button button-secondary" routerLink="/isolationInterieur">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/Testez votre eligibilité/Offres-01-min.jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default section-md-reverse">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row row-ten justify-content-md-center justify-content-lg-end">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>Qu’est-ce que l’isolation par l’extérieur ? </h3>
                            <div class="divider divider-default"></div>
                            <p>L’isolation par l’extérieur consiste à améliorer votre confort thermique grâce à l’ajout
                                d’isolant sur les façades
                                de votre maison. En France, l’isolation des logements se fait historiquement
                                principalement par l’intérieur.
                                Pourtant quand on veut construire une maison passive, basse consommation, voire à
                                énergie positive, tous les
                                spécialistes plébiscitent l’isolation thermique par l’extérieur (ITE).</p><a
                                class="button button-secondary" routerLink="/isolationExterieur" href="#">En savoir
                                plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/Testez votre eligibilité/Isolation par l'interieur-01-min.jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row row-ten justify-content-md-center justify-content-lg-start">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>Qu’est ce qu’une Pompe à Chaleur ? </h3>
                            <div class="divider divider-default"></div>
                            <p>C’est un dispositif permettant de capter la chaleur naturelle présente dans notre
                                environnement et de la restituer
                                ailleurs afin de fournir un système de chauffage.</p><a class="button button-secondary"
                                routerLink="/PompeChaleur">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/Testez votre eligibilité/Isolation par l'exterieur-01-min (1).jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>

    <!-- Blog posts-->
    <section class="section section-lg bg-gray-lighter text-center">
        <div class="container-wide">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Dernièrement dans le blog</h3>

                    <div id="one" class="divider divider-default"></div>

                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-md-items="2"
                        data-xl-items="3" data-xxl-items="4" data-stage-padding="15" data-loop="true" data-margin="30"
                        data-mouse-drag="false" data-dots="true" data-autoplay="true">
                        <article class="post-blog"><a class="post-blog-image" href="single-post.html"><img
                                    src="../../../assets/images/grid-blog-1-420x305.jpg" alt="" width="420"
                                    height="305" /></a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="single-post.html">news</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="single-post.html">Questions to Ask Before
                                            Installing Solar Panels</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="single-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                        <article class="post-blog"><a class="post-blog-image" href="image-post.html"><img
                                    src="../../../assets/images/grid-blog-2-420x305.jpg" alt="" width="420"
                                    height="305" /></a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="image-post.html">Tips & Tricks</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="image-post.html">Is it Possible to Add More
                                            Solar Panels to an Existing System?</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="image-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                        <article class="post-blog"><a class="post-blog-video" href="video-post.html">
                                <figure><img src="../../../assets/images/grid-blog-3-420x305.jpg" alt="" width="420"
                                        height="305" />
                                </figure><span class="icon novi-icon mdi mdi-play-circle-outline"></span>
                            </a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="video-post.html">news</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="video-post.html">olar Panels Can Help the
                                            Environment and Here’s Why</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="video-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                        <article class="post-blog"><a class="post-blog-quote" href="single-post.html">
                                <p class="post-blog-quote-text">Depending on the system size you choose, you can take a
                                    hefty chunk out of (or even eliminate) your utility bill.</p>
                            </a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="single-post.html">Tips & Tricks</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="single-post.html">Charging an Electric Car with
                                            Solar Panels</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="single-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner -->
    <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
            <div class="box-cta-thin">
                <p class="big"><span>
                        Réalisez Votre Demande En 1 Minute Seulement.
                    </span>&nbsp;
                    <br><a class="link-bold up" href="#" (click)="scroll(target)">faire ma demande.
                    </a>
                </p>
            </div>
        </div>
    </section>

    <!-- Page Footer-->
    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
