<!-- Page-->
<div class="page">
    <div class="fixed-top">
        <app-navbar></app-navbar>
    </div>

    <!-- Green Energy-->
    <section class="imageH">
        <div class="container">

            <div class="row">

                <div class="col-12" style="height: 1200px;">
                    <div>
                        <app-quiz></app-quiz>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--cta-->
    <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
            <div class="box-cta-thin">
                <p class="big"><span class="label-cta label-cta-primary">Hot!</span><strong>ARE</strong>&nbsp;<span>est
                        le meilleur choix dans le monde des solutions d'énergie</span>&nbsp;<a class="link-bold"
                        routerLink="/contact" routerLinkActive="active" href="#">Contactez-nous maintenant !</a></p>
            </div>
        </div>
    </section>


    <!--comment ça marche-->
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Comment ça marche ?</h3>
                    <div class="row row-40">
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                                    <h6 class="box-minimal-title">Best Service</h6>
                                </div>
                                <div class="box-minimal-text"> <strong>Réalisez sans engagement</strong>  votre demande en ligne.</div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-note35"></div>
                                    <h6 class="box-minimal-title">Reputation</h6>
                                </div>
                                <div class="box-minimal-text">Un conseiller <strong>vous contacte sous 24h</strong> aprés l'inscription.</div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                                    <h6 class="box-minimal-title">Safety & Security</h6>
                                </div>
                                <div class="box-minimal-text">Une visite technique gratuite obligatoire est réalisée pour préparer votre chantier.</div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                                    <h6 class="box-minimal-title">Safety & Security</h6>
                                </div>
                                <div class="box-minimal-text">Vous signezvotre devis et vos travaux sont réalisés.</div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- a few words about us-->
    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div
                class="row row-50 justify-content-md-center align-items-lg-center flex-xl-row-reverse justify-content-xl-between">
                <div class="col-md-9 col-lg-5 text-gray-light">
                    <h3>Pourquoi ARE ? </h3>
                    <div class="divider divider-default"></div>
                    <p class="heading-5">Parce	qu’avec	nous,	vous	pouvez	faire	isoler	vos	combles,	poser	des	panneaux	solaires	
                        performants	ou	une	pompe	à	chaleur	dernier	cri.	Ainsi,	vous	protégerez	notre	
                        environnement	activement.	Et	vous	économiserez	des	milliers	d’euros	par	an.</p>
                    <br>
                    <h5>OK,	mais	comment	fait-on	?</h5>
                    <p>ARE travaille	depuis	plus	de	10	ans	dans	l’isolation	et	est	devenue	experte	dans	l’aide	à	
                        l’obtention	de	subventions	pour	les	travaux	de	mise	aux	normes	de	transition	
                        énergétique.	Donc,	pour	faire	simple	:	nous	connaissons	la	musique	(administrative).	Et	
                        nous	connaissons	aussi	notre	métier.	Alors,	avant	de	vous	lancer	seul/e	dans	l’aventure,	
                        parlons-en	!</p><a class="button button-default-outline"
                        routerLink="/aboutus"  routerLinkActive="active" href="#">En	savoir plus</a>
                </div>
                <div class="col-md-9 col-lg-6"><img src="../../../assets/images/landing-environment-2-720x459.jpg"
                        alt="" width="720" height="459" />
                </div>
            </div>
        </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row justify-content-md-center justify-content-lg-start">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>panel Installation</h3>
                            <div class="divider divider-default"></div>
                            <p>So far, there’ve been more than 4 million solar systems installed on the rooftops across
                                the US, and most of them were performed by our qualified experts.</p><a
                                class="button button-secondary" href="single-service.html">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/landing-environment-3-960x660.jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default section-md-reverse">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row row-ten justify-content-md-center justify-content-lg-end">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>Qu’est-ce que l’isolation par l’extérieur ? </h3>
                            <div class="divider divider-default"></div>
                            <p>L’isolation par l’extérieur consiste à améliorer	votre confort thermique	grâce à	l’ajout	d’isolant sur les façades	
                                de votre maison. En	France,	l’isolation	des	logements se fait historiquement principalement par	l’intérieur.	
                                Pourtant quand on veut construire une maison passive, basse consommation, voire	à énergie positive,	tous les	
                                spécialistes plébiscitent l’isolation thermique	par	l’extérieur	(ITE).</p><a
                                class="button button-secondary"  routerLink="/isolationExterieur" href="#">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/landing-environment-4-960x660.jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row row-ten justify-content-md-center justify-content-lg-start">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>Panels for Sale</h3>
                            <div class="divider divider-default"></div>
                            <p>We provide high-quality solar panels at affordable prices to our every client in the US.
                                Our company is also opened to cooperation with foreign industry partners.</p><a
                                class="button button-secondary" href="single-service.html">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/landing-environment-5-960x660.jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default section-md-reverse">
        <div class="section-wrap-inner">
            <div class="container container-bigger">
                <div class="row row-ten justify-content-md-center justify-content-lg-end">
                    <div class="col-md-8 col-lg-5">
                        <div class="section-lg">
                            <h3>Commercial Panels</h3>
                            <div class="divider divider-default"></div>
                            <p>If you need solar panels installed for commercial purposes, our company is ready to offer
                                you professional environment-friendly solutions on your business's requests.</p><a
                                class="button button-secondary" href="single-service.html">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap-aside section-wrap-image"><img
                    src="../../../assets/images/landing-environment-6-960x660.jpg" alt="" width="960" height="660" />
            </div>
        </div>
    </section>
    <!-- Blog posts-->
    <section class="section section-lg bg-gray-lighter text-center">
        <div class="container-wide">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Latest blog posts</h3>
                    <div class="divider divider-default"></div>
                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-md-items="2"
                        data-xl-items="3" data-xxl-items="4" data-stage-padding="15" data-loop="true" data-margin="30"
                        data-mouse-drag="false" data-dots="true" data-autoplay="true">
                        <article class="post-blog"><a class="post-blog-image" href="single-post.html"><img
                                    src="../../../assets/images/grid-blog-1-420x305.jpg" alt="" width="420"
                                    height="305" /></a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="single-post.html">news</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="single-post.html">Questions to Ask Before
                                            Installing Solar Panels</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="single-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                        <article class="post-blog"><a class="post-blog-image" href="image-post.html"><img
                                    src="../../../assets/images/grid-blog-2-420x305.jpg" alt="" width="420"
                                    height="305" /></a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="image-post.html">Tips & Tricks</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="image-post.html">Is it Possible to Add More
                                            Solar Panels to an Existing System?</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="image-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                        <article class="post-blog"><a class="post-blog-video" href="video-post.html">
                                <figure><img src="../../../assets/images/grid-blog-3-420x305.jpg" alt="" width="420"
                                        height="305" />
                                </figure><span class="icon novi-icon mdi mdi-play-circle-outline"></span>
                            </a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="video-post.html">news</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="video-post.html">olar Panels Can Help the
                                            Environment and Here’s Why</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="video-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                        <article class="post-blog"><a class="post-blog-quote" href="single-post.html">
                                <p class="post-blog-quote-text">Depending on the system size you choose, you can take a
                                    hefty chunk out of (or even eliminate) your utility bill.</p>
                            </a>
                            <div class="post-blog-caption">
                                <div class="post-blog-caption-header">
                                    <ul class="post-blog-tags">
                                        <li><a class="button-tags" href="single-post.html">Tips & Tricks</a></li>
                                    </ul>
                                    <ul class="post-blog-meta">
                                        <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                                    </ul>
                                </div>
                                <div class="post-blog-caption-body">
                                    <h5><a class="post-blog-title" href="single-post.html">Charging an Electric Car with
                                            Solar Panels</a></h5>
                                </div>
                                <div class="post-blog-caption-footer">
                                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment"
                                        href="single-post.html"><span
                                            class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner -->
    <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
            <div class="box-cta-thin">
                <p class="big"><span>
                    Réalisez Votre Demande En 1 Minute Seulement.
                </span>&nbsp;
                <br><a class="link-bold"
                        routerLink="/accueil" routerLinkActive="active" id="ui-to-top">Recevez Votre Devis Gratuitement.
                    </a></p>
            </div>
        </div>
    </section>

    <!-- Page Footer-->
    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>

