.imageH{
    background-image: url('../../../assets/images/houses.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
@media only screen and (max-width: 600px) {
    .imageH{
        background-image: url('../../../assets/images/houses.png');
        background-size: cover;
  }
}
@media only screen and (min-width: 768px) {
    .imageH{
        background-image: url('../../../assets/images/houses.png');
        background-size: cover;
  }
}
@media only screen and (max-width: 600px) {

h2 {
    font-size: 20px !important;
}

}

h1 {
    overflow: hidden;
    text-align: center;
}
h2:before,
h2:after {
    background-color: #169331;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width:10%;
}
h2:before {
    right: 0.5em;
    margin-left: -50%;
}
h2:after {
    left: 0.5em;
    margin-right: -50%;
}

#one.divider {
    display: inline-block;
    border: 0;
    font-size: 0;
    line-height: 0;
    height: 3px;
    max-width: 300px !important;
    width: 100%;
}
.button-secondary:hover{
    background-color:#169331;
}

.bg-gradient-1 {
    background-image: linear-gradient(to right, #169331 20%, #8ec942);
}
.divider-default {
    background: linear-gradient(to right, #8ec942 50%, #169331 120%);
}
