
  <!-- Page-->
  <div class="page">
    <!-- Page Header-->
    <header class="section page-header bg-default">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap rd-navbar-default">
        <nav class="rd-navbar" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-md-stick-up-offset="2px" data-lg-stick-up-offset="2px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="../../../assets/images/logo-default-253x49.png" alt="" width="253" height="49"/><img class="logo-inverse" src="../../../assets/images/logo-inverse-253x49.png" alt="" width="253" height="49"/></a></div>
            </div>
            <div class="rd-navbar-aside-right">
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="index.html">Home</a>
                  </li>
                  <li><a href="about-us.html">About Us</a>
                  </li>
                  <li><a href="services.html">Services</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="single-service.html">Single service</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Gallery</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="grid-gallery.html">Grid Gallery</a>
                      </li>
                      <li><a href="grid-album-gallery.html">Grid Album Gallery</a>
                      </li>
                      <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a>
                      </li>
                      <li><a href="single-project.html">Single Project</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Blog</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="classic-blog.html">Classic Blog</a>
                      </li>
                      <li><a href="grid-blog.html">Grid Blog</a>
                      </li>
                      <li><a href="masonry-blog.html">Masonry Blog</a>
                      </li>
                      <li><a href="modern-blog.html">Modern Blog</a>
                      </li>
                      <li><a href="audio-post.html">Audio Post</a>
                      </li>
                      <li><a href="image-post.html">Image Post</a>
                      </li>
                      <li><a href="single-post.html">Single Post</a>
                      </li>
                      <li><a href="video-post.html">Video Post</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="about-me.html">About Me</a></li>
                          <li><a href="our-history.html">Our History</a></li>
                          <li><a href="careers.html">Careers</a></li>
                          <li><a href="single-job.html">Single Job</a></li>
                          <li><a href="login-page.html">Login Page</a></li>
                          <li><a href="registration-page.html">Registration Page</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="pricing-page.html">Pricing Page</a></li>
                          <li><a href="404-page.html">404 Page</a></li>
                          <li><a href="503-page.html">503 Page</a></li>
                          <li><a href="coming-soon.html">Coming Soon</a></li>
                          <li><a href="under-construction.html">Under Construction</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="accordions.html">Accordions</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="countdown.html">Countdown</a></li>
                          <li><a href="grid-system.html">Grid System</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="tabs.html">Tabs</a></li>
                        </ul>
                      </li>
                      <li>
                        <ul class="rd-megamenu-list">
                          <li><a href="typography.html">Typography</a></li>
                          <li><a href="radials.html">Radials</a></li>
                          <li><a href="pricing.html">Pricing</a></li>
                          <li><a href="tooltips.html">Tooltips</a></li>
                          <li><a href="search-results.html">Search Results</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="contacts.html">Contacts</a>
                  </li>
                </ul>
              </div>
              <div class="rd-navbar-aside-right-inner">
                <!-- RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                  <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                      <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                      <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                      <div class="rd-search-results-live" id="rd-search-results-live"></div>
                    </div>
                    <button class="rd-search-form-submit mdi mdi-magnify"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- Green Energy-->
    <section class="section section-wrap section-wrap-equal bg-gray-lighter section-reverse text-center">
      <div class="section-wrap-inner">
        <div class="container container-bigger">
          <div class="row justify-content-md-center justify-content-lg-end">
            <div class="col-md-12 col-lg-5">
              <div class="section-xl">
                <h3>Green Energy</h3>
                <p class="heading-3 text-elight">for everyone</p>
                <hr class="divider divider-default">
                <p class="heading-5">We have been providing our clients with affordable and <br class="d-none d-xl-inline"> reliable green energy solutions since our first day.</p><a class="button button-secondary" href="#">free consultation</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section-wrap-aside section-wrap-image"><img src="../../../assets/images/landing-environment-1-960x870.jpg" alt="" width="960" height="870"/>
        </div>
      </div>
    </section>
    <!--cta-->
    <section class="section section-xs text-center bg-gradient-1">
      <div class="container-wide">
        <div class="box-cta-thin">
          <p class="big"><span class="label-cta label-cta-primary">Hot!</span><strong>Green Line</strong>&nbsp;<span>is your choice in the world of green energy solutions.</span>&nbsp;<a class="link-bold" href="contacts.html">Contact us now!</a></p>
        </div>
      </div>
    </section>

    <!--our advantages-->
    <section class="section section-lg text-center bg-default">
      <div class="container-wide">
        <div class="row row-50 justify-content-sm-center text-left">
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal box-minimal-border">
              <div class="box-minimal-icon mdi mdi-thumb-up-outline"></div>
              <p class="big box-minimal-title">Individual Approach</p>
              <hr>
              <div class="box-minimal-text">We use an individual approach to each client and we never offer you a set of standard green energy decisions.</div>
            </article>
          </div>
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal box-minimal-border">
              <div class="box-minimal-icon mdi mdi-account-multiple"></div>
              <p class="big box-minimal-title">Qualified Employers</p>
              <hr>
              <div class="box-minimal-text">Our friendly and professional team works daily to bring you the best renewable energy solutions, from solar panels to wind power stations.</div>
            </article>
          </div>
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal box-minimal-border">
              <div class="box-minimal-icon mdi mdi-headset"></div>
              <p class="big box-minimal-title">24/7 Online Support</p>
              <hr>
              <div class="box-minimal-text">Our online support is available 24 hours a day to answer your every question and help you solve any issues you may have with our products.</div>
            </article>
          </div>
          <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal box-minimal-border">
              <div class="box-minimal-icon mdi mdi-credit-card"></div>
              <p class="big box-minimal-title">Various Payment Methods</p>
              <hr>
              <div class="box-minimal-text">We provide a variety of payment methods that include Paypal, Visa/Mastercard/American Express and lots of others.</div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- a few words about us-->
    <section class="section section-lg bg-gray-lighter">
      <div class="container container-bigger">
        <div class="row row-50 justify-content-md-center align-items-lg-center flex-xl-row-reverse justify-content-xl-between">
          <div class="col-md-9 col-lg-5 text-gray-light">
            <h3>a few words about us</h3>
            <div class="divider divider-default"></div>
            <p class="heading-5">Our company is an end-to-end, customer oriented alternative energy company that is centered on marketing, trading, and distribution of solar panels.</p>
            <p>Firstly, we’re an environmentally friendly renewable energy company offering a broad portfolio of technologies, products & solutions to our clients globally. We also provide consulting services on creating environment friendly solutions.</p><a class="button button-default-outline" href="about-us.html">learn more</a>
          </div>
          <div class="col-md-9 col-lg-6"><img src="../../../assets/images/landing-environment-2-720x459.jpg" alt="" width="720" height="459"/>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default">
      <div class="section-wrap-inner">
        <div class="container container-bigger">
          <div class="row justify-content-md-center justify-content-lg-start">
            <div class="col-md-8 col-lg-5">
              <div class="section-lg">
                <h3>panel Installation</h3>
                <div class="divider divider-default"></div>
                <p>So far, there’ve been more than 4 million solar systems installed on the rooftops across the US, and most of them were performed by our qualified experts.</p><a class="button button-secondary" href="single-service.html">learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section-wrap-aside section-wrap-image"><img src="../../../assets/images/landing-environment-3-960x660.jpg" alt="" width="960" height="660"/>
        </div>
      </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default section-md-reverse">
      <div class="section-wrap-inner">
        <div class="container container-bigger">
          <div class="row row-ten justify-content-md-center justify-content-lg-end">
            <div class="col-md-8 col-lg-5">
              <div class="section-lg">
                <h3>Energy Storage</h3>
                <div class="divider divider-default"></div>
                <p>Having solar panels gives you a great advantage in saving energy for your own purposes. Having such an energy storage also allows you to be independent of blackouts.</p><a class="button button-secondary" href="single-service.html">learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section-wrap-aside section-wrap-image"><img src="../../../assets/images/landing-environment-4-960x660.jpg" alt="" width="960" height="660"/>
        </div>
      </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default">
      <div class="section-wrap-inner">
        <div class="container container-bigger">
          <div class="row row-ten justify-content-md-center justify-content-lg-start">
            <div class="col-md-8 col-lg-5">
              <div class="section-lg">
                <h3>Panels for Sale</h3>
                <div class="divider divider-default"></div>
                <p>We provide high-quality solar panels at affordable prices to our every client in the US. Our company is also opened to cooperation with foreign industry partners.</p><a class="button button-secondary" href="single-service.html">learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section-wrap-aside section-wrap-image"><img src="../../../assets/images/landing-environment-5-960x660.jpg" alt="" width="960" height="660"/>
        </div>
      </div>
    </section>
    <section class="section section-wrap section-wrap-equal bg-default section-md-reverse">
      <div class="section-wrap-inner">
        <div class="container container-bigger">
          <div class="row row-ten justify-content-md-center justify-content-lg-end">
            <div class="col-md-8 col-lg-5">
              <div class="section-lg">
                <h3>Commercial Panels</h3>
                <div class="divider divider-default"></div>
                <p>If you need solar panels installed for commercial purposes, our company is ready to offer you professional environment-friendly solutions on your business's  requests.</p><a class="button button-secondary" href="single-service.html">learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="section-wrap-aside section-wrap-image"><img src="../../../assets/images/landing-environment-6-960x660.jpg" alt="" width="960" height="660"/>
        </div>
      </div>
    </section>
    <!-- Blog posts-->
    <section class="section section-lg bg-gray-lighter text-center">
      <div class="container-wide">
        <div class="row">
          <div class="col-sm-12">
            <h3>Latest blog posts</h3>
            <div class="divider divider-default"></div>
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-carousel-team owl-carousel-inset" data-items="1" data-md-items="2" data-xl-items="3" data-xxl-items="4" data-stage-padding="15" data-loop="true" data-margin="30" data-mouse-drag="false" data-dots="true" data-autoplay="true">
              <article class="post-blog"><a class="post-blog-image" href="single-post.html"><img src="../../../assets/images/grid-blog-1-420x305.jpg" alt="" width="420" height="305"/></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <ul class="post-blog-tags">
                      <li><a class="button-tags" href="single-post.html">news</a></li>
                    </ul>
                    <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                    </ul>
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" href="single-post.html">Questions to Ask Before Installing Solar Panels</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="single-post.html"><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                  </div>
                </div>
              </article>
              <article class="post-blog"><a class="post-blog-image" href="image-post.html"><img src="../../../assets/images/grid-blog-2-420x305.jpg" alt="" width="420" height="305"/></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <ul class="post-blog-tags">
                      <li><a class="button-tags" href="image-post.html">Tips & Tricks</a></li>
                    </ul>
                    <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                    </ul>
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" href="image-post.html">Is it Possible to Add More Solar Panels to an Existing System?</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="image-post.html"><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                  </div>
                </div>
              </article>
              <article class="post-blog"><a class="post-blog-video" href="video-post.html">
                  <figure><img src="../../../assets/images/grid-blog-3-420x305.jpg" alt="" width="420" height="305"/>
                  </figure><span class="icon novi-icon mdi mdi-play-circle-outline"></span></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <ul class="post-blog-tags">
                      <li><a class="button-tags" href="video-post.html">news</a></li>
                    </ul>
                    <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                    </ul>
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" href="video-post.html">olar Panels Can Help the Environment and Here’s Why</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="video-post.html"><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                  </div>
                </div>
              </article>
              <article class="post-blog"><a class="post-blog-quote" href="single-post.html">
                  <p class="post-blog-quote-text">Depending on the system size you choose, you can take a hefty chunk out of (or even eliminate)  your utility bill.</p></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <ul class="post-blog-tags">
                      <li><a class="button-tags" href="single-post.html">Tips & Tricks</a></li>
                    </ul>
                    <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="about-me.html">Ronald Chen</a></li>
                    </ul>
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" href="single-post.html">Charging an Electric Car with Solar Panels</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Feb 27, 2018 at 6:53 pm</time><a class="post-comment" href="single-post.html"><span class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--testimonials-->
    <section class="section section-lg text-center bg-image bg-image-8">
      <div class="container container-wide">
        <h3>testimonials</h3>
        <hr class="divider divider-default">
        <!-- Owl Carousel-->
        <div class="owl-carousel" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-lg-margin="80" data-mouse-drag="false" data-autoplay="true">
          <article class="quote-modern">
            <div class="quote-modern-text">
              <p>The service provided by Green Line has been excellent throughout this project. Their project delivery program was well thought out and integrated seamlessly with our own operation and was delivered on time with professionalism.</p>
            </div>
            <div class="quote-modern-footer"><img class="quote-modern-image" src="../../../assets/images/quote-user-4-80x80.jpg" alt="" width="80" height="80"/>
              <div class="quote-modern-meta">
                <p class="quote-modern-cite">Philip Lawrence</p>
                <p class="quote-modern-small">Regular Customer</p>
              </div>
            </div>
          </article>
          <article class="quote-modern">
            <div class="quote-modern-text">
              <p>Your team was helpful and efficient throughout the install and they also commissioned a display that informs the young people visiting us about the energy savings to improve their understanding of sustainability, which is very important to us.</p>
            </div>
            <div class="quote-modern-footer"><img class="quote-modern-image" src="../../../assets/images/quote-user-5-80x80.jpg" alt="" width="80" height="80"/>
              <div class="quote-modern-meta">
                <p class="quote-modern-cite">Debra Ortega</p>
                <p class="quote-modern-small">Regular Customer</p>
              </div>
            </div>
          </article>
          <article class="quote-modern">
            <div class="quote-modern-text">
              <p>The installation process was very good indeed. I’ve been impressed with your performance throughout and the people working for you who did their jobs brilliantly. I would recommend them to any other company considering solar for their business.</p>
            </div>
            <div class="quote-modern-footer"><img class="quote-modern-image" src="../../../assets/images/quote-user-6-80x80.jpg" alt="" width="80" height="80"/>
              <div class="quote-modern-meta">
                <p class="quote-modern-cite">Jose Gutierrez</p>
                <p class="quote-modern-small">Regular Customer</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- do you need a consultation?-->
    <section class="section section-md bg-gradient-1 text-center text-md-left">
      <div class="container-wide">
        <div class="row row-50 justify-content-sm-center">
          <div class="col-xxl-8">
            <div class="box-cta box-cta-inline">
              <div class="box-cta-inner">
                <h3 class="box-cta-title">do you need a consultation?</h3>
                <p>Green Line can give you lots of advantages, from which you will surely benefit.</p>
              </div>
              <div class="box-cta-inner"><a class="button button-secondary" href="about-us.html">learn more</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- our team-->
    <section class="section section-lg bg-default text-center">
      <div class="container-wide">
        <h3>our team</h3>
        <hr class="divider divider-default">
        <div class="row row-50 justify-content-sm-center">
          <div class="col-md-6 col-lg-3">
            <div class="team-classic team-classic-circle">
              <figure><img class="rounded-circle" src="../../../assets/images/team-07-300x300.jpg" alt="" width="300" height="300"/>
              </figure>
              <div class="team-classic-caption">
                <h5><a class="team-classic-title" href="about-me.html">Sandra Ferguson</a></h5>
                <p class="team-classic-job-position">CEO, Founder</p>
                <ul class="list-inline list-team">
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="team-classic team-classic-circle">
              <figure><img class="rounded-circle" src="../../../assets/images/team-08-300x300.jpg" alt="" width="300" height="300"/>
              </figure>
              <div class="team-classic-caption">
                <h5><a class="team-classic-title" href="about-me.html">Ronald Chen</a></h5>
                <p class="team-classic-job-position">Marketer</p>
                <ul class="list-inline list-team">
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="team-classic team-classic-circle">
              <figure><img class="rounded-circle" src="../../../assets/images/team-09-300x300.jpg" alt="" width="300" height="300"/>
              </figure>
              <div class="team-classic-caption">
                <h5><a class="team-classic-title" href="about-me.html">Frances Watson</a></h5>
                <p class="team-classic-job-position">Support Operator</p>
                <ul class="list-inline list-team">
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="team-classic team-classic-circle">
              <figure><img class="rounded-circle" src="../../../assets/images/team-10-300x300.jpg" alt="" width="300" height="300"/>
              </figure>
              <div class="team-classic-caption">
                <h5><a class="team-classic-title" href="about-me.html">Joe Myers</a></h5>
                <p class="team-classic-job-position">Head of Business Development</p>
                <ul class="list-inline list-team">
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                  <li class="list-inline-item"><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Page Footer-->
    <!-- Footer Alternative-->
    <footer class="section page-footer page-footer-alternative bg-gray-darker">
      <div class="container-wide">
        <div class="row row-50 justify-content-sm-center justify-content-xl-between">
          <div class="col-md-6 col-xl-3">
            <h6>About us</h6>
            <p>Our company is an end-to-end, customer oriented alternative energy company that brings you cutting-edge solar energy solutions. We are centered on marketing, trading, transportation, and distribution of solar panels in the US and around the world.</p>
          </div>
          <div class="col-md-6 col-xl-3">
            <h6>Gallery</h6>
            <div class="instafeed text-center" data-lightgallery="group">
              <div class="row row-10 row-narrow">
                <div class="col-4">
                  <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="../../../assets/images/project-1-original.jpg"><img src="../../../assets/images/project-1-570x380.jpg" alt="" width="570" height="380"/>
                      <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                    <div class="caption"> 
                      <ul class="list-inline">
                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="../../../assets/images/project-2-original.jpg"><img src="../../../assets/images/project-2-570x380.jpg" alt="" width="570" height="380"/>
                      <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                    <div class="caption"> 
                      <ul class="list-inline">
                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="../../../assets/images/project-3-original.jpg"><img src="../../../assets/images/project-3-570x380.jpg" alt="" width="570" height="380"/>
                      <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                    <div class="caption"> 
                      <ul class="list-inline">
                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="../../../assets/images/project-4-original.jpg"><img src="../../../assets/images/project-4-570x380.jpg" alt="" width="570" height="380"/>
                      <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                    <div class="caption"> 
                      <ul class="list-inline">
                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="../../../assets/images/project-5-original.jpg"><img src="../../../assets/images/project-5-570x380.jpg" alt="" width="570" height="380"/>
                      <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                    <div class="caption"> 
                      <ul class="list-inline">
                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="thumbnail-instafeed thumbnail-instafeed-minimal"> <a class="instagram-link" data-lightgallery="item" href="../../../assets/images/project-6-original.jpg"><img src="../../../assets/images/project-6-570x380.jpg" alt="" width="570" height="380"/>
                      <!--img.instagram-image(src='images/_blank.png', alt='', data-images-standard_resolution-url='src')--></a>
                    <div class="caption"> 
                      <ul class="list-inline">
                        <li><span class="icon novi-icon mdi mdi-plus">  </span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <h6>Contact US</h6>
            <ul class="list-xs list-darker">
              <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span>
                <div><a href="#">2130 Fulton Street, Chicago,<br class="d-none d-xxl-block"/>&nbsp;
                    IL 94117-1080 USA</a></div>
              </li>
              <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                <ul class="list-comma">
                  <li><a href="tel:#">1-800-1234-567</a></li>
                  <li><a href="tel:#">1-800-6780-345</a></li>
                </ul>
              </li>
              <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">mail@demolink.org</a></li>
            </ul>
            <ul class="page-footer-icon-list social-icons-list">
              <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-facebook" href="#"></a></li>
              <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-twitter" href="#"></a></li>
              <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-instagram" href="#"></a></li>
              <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-google" href="#"></a></li>
              <li><a class="icon icon-sm-bigger icon-gray-light mdi mdi-linkedin" href="#"></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xl-3">
            <h6>Newsletter</h6>
            <p class="text-spacing-sm">Keep up with our always upcoming product features and technologies. Enter your e-mail and subscribe to our newsletter.</p>
            <!-- RD Mailform: Subscribe-->
            <form class="rd-mailform rd-mailform-inline rd-mailform-sm" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
              <div class="rd-mailform-inline-inner">
                <div class="form-wrap">
                  <input class="form-input" type="email" name="email" data-constraints="@Email @Required" id="subscribe-form-email-1"/>
                  <label class="form-label" for="subscribe-form-email-1">Enter your e-mail</label>
                </div>
                <button class="button form-button button-sm button-secondary" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
        <div class="divider-xl"></div>
        <div class="row align-items-sm-center row-30 text-left">
          <div class="col-xl-6 text-xl-left">
            <ul class="page-footer-inline-list">
              <li><a href="about-us.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="shop-4-columns-layout.html">Shop</a></li>
              <li><a href="classic-blog.html">Blog</a></li>
              <li><a href="grid-gallery-outside-title.html">Portfolio</a></li>
              <li><a href="contacts.html">Contacts</a></li>
            </ul>
          </div>
          <div class="col-xl-6 text-xl-right">
            <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>