
.navv{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 85px;
  left: 50px;

}

.fixed-top {
  position: relative;
}
.LOGO{
 
  left: 50px;
}
input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border: 2px solid rgb(160, 160, 160);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
.line:hover{
  border-top: 1px solid  rgb(0, 128, 11)
}

a{
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(0, 128, 11);
}
li a:hover{
    color: rgb(0, 128, 11);
}
.a a:hover{
  color: rgb(0, 128, 11);
}

.dropbtn {
    border: none;
  }
  

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
@media screen and (min-width:888px){
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: rgb(0, 128, 11);}
}

.navbar-collapse{
  background-color: white;
  
}


@media only screen and (max-width: 414px) {
  
  input[type=text]{
    margin-left: -70px !important;
    width: 100%;
  }
  
  input[type=text]:focus {
    width: 150%;
  }

  .logoRes{
    width: 50px;
  }
  .LOGO{
    left: 250px;
  }

  .navbar{
    margin-left: -35px;
  }

}

@media only screen and (max-width: 650px) {
  
  input[type=text]{
    margin-left: -150px;
    width: 120%;
  }
  input[type=text]:focus {
    width: 150%;
  }

}



.navbar-collapse[_ngcontent-lty-c101] {

  margin-left: 160px;
}
.nav-link{
  font-family: 'Montserrat', sans-serif;
}

.active{
  color:  rgb(0, 128, 11) !important;
  
}

@media  screen and (min-width: 1140px) {
  .navbar-nav > li{
    margin-left:30px;
  }
}
@media only screen and (max-width: 930px) {
  .LOGO{
    left: 300px;
    top:10px
  }
  .a a:hover{
    text-decoration: underline;

  }
  a:hover{
    text-decoration: underline;
}

}


.dropdown-item.active{
  background-color: transparent;
}
.navbar-nav > li{
  margin-left:20px;
  margin-right:20px;
}
#more {
  background:none;
  border:none;
  color:#FFF;
  font-family:Verdana, Geneva, sans-serif;
  cursor:pointer;
}