<div class="navv row ">
  <div class="LOGO col-2">
    <a style="margin-top: 3px;" href="#">
     <img src="../../../assets/images/LogoARE-PNG.png" alt="" width="50" height="49"/>
    </a>
  </div>
  <nav class="navbar col-10 navbar-light  navbar-expand-lg ">


    <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon  "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav ml-5 mr-auto  mt-2 mt-lg-0">
        <li routerLinkActive="active" class="a nav-item line">
          
          <a class="nav-link" routerLink="/accueil" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class=" a nav-item line">
          <a class="nav-link "  routerLink="/aboutus"   href="#">Notre Société</a>
        </li>
        <li class="nav-item dropdown line">
          <a class="nav-link dropdown-toggle dropbtn" href="#">Nos Offres <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-content">
            <li><a href="#">Isolation par l'intérieur</a></li>
            <li><a class="nav-link "  routerLink="/isolationExterieur"  routerLinkActive="active" href="#">Isolation par l'extérieur</a></li>
            <li><a href="#">Pompe à chaleur</a></li>
          </ul>
        </li>
        <li class="a nav-item line">
          <a class="nav-link " href="#">Travaux à 1$ </a>
        </li>
        <li class="nav-item dropdown line">
          <a class="nav-link dropdown-toggle dropbtn" href="#">Guide <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-content">
            <li><a href="#">Isolation </a></li>
            <li><a href="#">Chaudière</a></li>
            <li><a href="#">Chauffage</a></li>
            <li><a href="#">Les aides</a></li>

          </ul>
        </li>
        <li class="a nav-item line">
          <a class="nav-link " routerLink="/blog"  routerLinkActive="active"  href="#">Blog</a>
        </li>
        <li class="a nav-item line">
          <a class="nav-link "  routerLink="/contact"  routerLinkActive="active" href="#">Contact</a>
        </li>

      </ul>

    </div>

  </nav>

</div>