<div class="navv row ">
  <div class="LOGO col-2">
    <a style="margin-top: 3px;" class="logoRes" href="#">
     <img src="../../../assets/images/LogoARE-PNG.png" alt="" width="59" height="59"/>
    </a>
  </div>
  <nav class="navbar col-10 navbar-light  navbar-expand-lg ">


    <button class="navbar-toggler navbar-toggle navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon  "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav ml-5 mr-auto  mt-2 mt-lg-0">
        <li  class="a nav-item line">
          
          <a style="color: black;font-weight: bold;" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" class="nav-link" routerLink="/accueil" href="#">Testez votre éligibilité <span class="sr-only">(current)</span></a>
        </li>
        <li   class=" a nav-item line">
          <a style="color: black;font-weight: bold;" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" class="nav-link "  routerLink="/aboutus"   href="#">Notre Société</a>
        </li>
        <li class="nav-item dropdown line">
          <a style="color: black;font-weight: bold;"   class="nav-link dropdown-toggle dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos Offres <span class="caret"></span></a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"  routerLink="/isolationInterieur"  routerLinkActive="active"  href="#">Isolation par l'intérieur</a></li>
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"   routerLink="/isolationExterieur"  routerLinkActive="active" href="#">Isolation par l'extérieur</a></li>
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"   routerLink="/PompeChaleur"  routerLinkActive="active" href="#">Pompe à chaleur</a></li>
          </ul>
        </li>
        <li class="a nav-item line">
          <a style="color: black;font-weight: bold;"  class="nav-link " routerLink="/travaux"  routerLinkActive="active" href="#">Travaux à 1€ </a>
        </li>
        <!-- <li class="nav-item dropdown line">
          <a style="color: black;font-weight: bold;"  class="nav-link dropdown-toggle dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Guide <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"   href="#">Isolation </a></li>
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"  href="#">Chaudière</a></li>
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"  href="#">Chauffage</a></li>
            <li><a class="dropdown-item" style="color: black;font-weight: bold;font-family: 'Montserrat', sans-serif;"  href="#">Les aides</a></li>

          </ul>
        </li> -->
        <li class="a nav-item line">
          <a style="color: black;font-weight: bold;"  class="nav-link " routerLink="/blog"  routerLinkActive="active"  href="#">Blog</a>
        </li>
        <li class="a nav-item line">
          <a style="color: black;font-weight: bold;"  class="nav-link "  routerLink="/contact"  routerLinkActive="active" href="#">Contact</a>
        </li>

      </ul>

    </div>

  </nav>

</div>