<div class="navv row ">
  <div class="LOGO col-1">
    <a style="margin-top: 28px;" href="#">LOGO</a>
  </div>
  <nav class="navbar col-7 navbar-light  navbar-expand-lg ">


    <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon  "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <ul class="navbar-nav ml-5 mr-auto  mt-2 mt-lg-0">
        <li class="a nav-item active">
          <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
        </li>
        <li class=" a nav-item">
          <a class="nav-link " href="#">Notre Société</a>
        </li>
        <li class="a nav-item">
          <a class="nav-link " href="#">Traveau à 1$ </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropbtn" href="#">Nos Offres <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-content">
            <li><a href="#">Isolation par l'intérieur</a></li>
            <li><a href="#">Isolation par l'extérieur</a></li>
            <li><a href="#">Pompre à chaleur</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropbtn" href="#">Guide <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-content">
            <li><a href="#">Isolation </a></li>
            <li><a href="#">Chaudière</a></li>
            <li><a href="#">Chauffages</a></li>
            <li><a href="#">Les aides</a></li>

          </ul>
        </li>
        <li class="a nav-item">
          <a class="nav-link " href="#">Blog</a>
        </li>
        <li class="a nav-item">
          <a class="nav-link " href="#">Contact</a>
        </li>

      </ul>

    </div>

  </nav>
  <form class="col-4 ">
    <input class="search" type="text" placeholder="Search..">
  </form>
</div>