.toHome:hover{
    color:  #8ec942 !important;
    text-decoration: underline;

}

hr.new5 {
    border: 1px solid #169331;
    border-radius: 5px;
  }

  .box-minimal .box-minimal-icon {

    color: #169331;
}