<div class="page">

    <div class="fixed-top">
        <app-navbar></app-navbar>
    </div>

    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
        <div style="color: white;" class="shell">
            <p style="color: white;" class="breadcrumbs-custom-subtitle">Nos Offres</p>
            <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Isolation par l'extérieur</p>
            <ul style="color: white;" class="breadcrumbs-custom-path">
                <li style="color: white;"><a style="color: white;" class="toHome" href="index.html"> Testez votre éligibilité </a></li>
                <li style="color: white;" class="active">Nos Offres</li>
                <li style="color: white;" class="active">Isolation Extérieur</li>
            </ul>
        </div>
    </section>

    <section class="section section-lg text-center text-md-left bg-default">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-5">
                    <h3>Qu’est-ce que l’isolation par l’extérieur ?</h3>
                    <div class="divider divider-default"></div>
                    <p class="heading-5"> <strong>En France, l’isolation par l’extérieur </strong> consiste à améliorer votre
                        confort
                        thermique grâce à l’ajout d’isolant sur les façades
                        de votre maison. En France, l’isolation des logements se fait historiquement principalement par
                        l’intérieur.
                        Pourtant quand on veut construire une maison passive, basse consommation, voire à énergie
                        positive,
                        tous les
                        spécialistes plébiscitent l’isolation thermique par l’extérieur (ITE). L’isolation des murs par
                        l’extérieur est en
                        effet beaucoup plus efficace qu’une isolation par l’intérieur et les avantages sont nombreux.
                        <strong>
                            <br> Le saviez vous?
                            Une isolation globale de votre maison permet jusqu’à 70% d’économie d’énergie. </strong>
                    </p>
                </div>
                <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-6">
                    <figure class="image-default image-video">
                        <iframe width="500" height="400" src="https://www.youtube.com/embed/k6GQen1D2p8">
                        </iframe>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <!-- ui design-->
    <section class="section section-lg text-center text-md-left bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between flex-md-row-reverse">
                <div class="align-self-center col-md-6 col-xxl-5">

                    <p class=" text-spacing-sm">L' ITE vous permet d’améliorer l’efficacité énergétique de votre maison
                        c’est-à-dire moins de chauffage et moins de rejet de CO2, mais aussi d’améliorer votre confort
                        thermique et acoustique.</p>
                    <p class="heading-5">En effet, en hiver comme en été l’isolation vous permettra de garder une
                        température homogène dans toutes les pièces. Enfin, si vous souhaitez revaloriser votre bien,
                        l’ITE vous permettra d’obtenir un meilleur score dans le DPE (Diagnostique de Performance
                        Énergétique).
                    </p>
                </div>
                <div class="col-md-6"><img src="../../../assets/images/Isolation par l'exterieur/Isolation par l'exterieur-01-min.jpg" alt="" width="870"
                        height="580" />
                </div>
            </div>
        </div>
    </section>

 
    <!-- Alternative Accordion-->
    <section class="section section-lg bg-default text-center">
        <div class="container">
            <div class="row row-50 justify-content-lg-center">
                <div class="col-lg-10 col-xl-8">
                
                    <!-- Bootstrap collapse-->
                    <div class=" card-group-custom card-group-light" id="accordion2" role="tablist"
                        aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse1"
                                        aria-controls="accordion2Collapse1" aria-expanded="true">Artisan certifié RGE
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show" id="accordion2Collapse1" role="tabpanel"
                                aria-labelledby="accordion2Heading1">
                                <div class="card-body">
                                    <p style="color: black;">Notre artisan RGE définit le bon diagnostic travaux lors de l’entretien préalable
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading2" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse2"
                                        aria-controls="accordion2Collapse2">Nos propres équipes
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse2" role="tabpanel"
                                aria-labelledby="accordion2Heading2">
                                <div class="card-body">
                                    <p style="color: black;">Votre chantier est intégralement réalisé par nos propres équipes.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading3" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse3"
                                        aria-controls="accordion2Collapse3">Zéro démarchage
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse3" role="tabpanel"
                                aria-labelledby="accordion2Heading3">
                                <div class="card-body">
                                    <p style="color: black;">ITE Isolation ne pratique AUCUN démarchage téléphonique.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading4" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse4"
                                        aria-controls="accordion2Collapse4">On s'occupe de tout
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse4" role="tabpanel"
                                aria-labelledby="accordion2Heading4">
                                <div class="card-body">
                                    <p style="color: black;">Un artisan qualifié de notre réseau se déplace chez vous pour l'intervention.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Les	avantages	de	l’isolation	par	l’extérieur -->
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Les avantages de l’isolation par l’extérieur</h3>
                    <div class="divider divider-default"></div>
                    <div class="row row-40">
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-megaphone11"></div>
                                    <h6 class="box-minimal-title">Meilleure efficacité énergétique </h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-note35"></div>
                                    <h6 class="box-minimal-title">Améliorez votre confort thermique</h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                                    <h6 class="box-minimal-title">Meilleur confort acoustique</h6>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-10 col-md-6 col-lg-3 mb-4">
                            <article class="box-minimal">
                                <div class="box-minimal-header">
                                    <div class="box-minimal-icon fl-bigmug-line-square160"></div>
                                    <h6 class="box-minimal-title">Valorisation de votre bien</h6>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Alternative Accordion-->

    <section class="section section-lg bg-default text-center">
        <div class="container">

            <div class="row row-50 justify-content-lg-center">
                <div class="col-lg-10 col-xl-8">
                    <hr class="new5">
                    <br>
                    <h4>Rénovez pour valoriser</h4>

                    <ul class="list-marked">
                        <li>Rénover son habitation peut être considéré comme une obligation à très court terme car pour
                            tout
                            projet de
                            vente ou de location le bilan de performance énergétique est obligatoire.</li>
                        <li>Un mauvais bilan énergétique déprécie très fortement votre bien. Même sans
                            intention de vente, il est important d’être conscient des 4 raisons principales de rendre son
                            logement plus « vert » :</li>

                    </ul>
                    <br>

                    <hr class="new5">
                    <br>

                    <ol class="list-ordered">
                        <li>Isoler son habitation revient à <strong> faire immédiatement des économies d’énergie une
                            fois les travaux effectués.
                            </strong> </li>
                        <li>Isoler son habitation c'est assurer un confort à tous les habitants, notamment grâce à
                            une meilleure ventilation, qui assurera un air plus sain, mais aussi grâce à une
                            amélioration acoustique. Sentiment de bien-être garantit.</li>
                        <li>Neuf ou ancien <strong>l’isolation s’adapte,</strong>tout est possible, laissez-vous guider
                            et
                            conseiller.</li>
                        <li>Isoler son habitation c’est <strong> faire un geste pour la planète, </strong>Chacun ayant sa part de
                            responsabilité, il est important que nous pensions aux générations futures.</li>
                        <li>Isoler son habitation revient à valoriser son bien tout en bénéficiant d’aides de l’Etat.
                            Obligatoire pour toutes ventes ou locations depuis 2007, le DPE (Diagnostic de
                            
                            Performance énergétique) indique la consommation énergétique, les émissions de
                            gaz à effet de serre et les dépenses annuelles qui y sont liées.</li>
                        <li> <span style="text-decoration: underline;">L’isolation par l’extérieur</span> vous permettra
                            d’obtenir un <strong> meilleur classement dans la “pyramide” </strong> et
                            ainsi <strong> de revaloriser l’habitation.</strong> </li>
                        <li>Si vous souhaitez valoriser votre bien avant la vente mais que vous ne souhaitez pas y
                            consacrer
                            un
                            budget aussi important que pour l’isolation globale de la maison nous vous conseillons de
                            <strong>
                                renouveler
                                l’esthétique de votre maison.</strong> <span style="text-decoration: underline;"> Un
                                ravalement </span> redonnera un coup de fraîcheur à votre façade et vous
                            permettra de corriger toutes salissures ou décollements présents sur vos
                            murs
                            extérieurs. <span style="text-decoration: underline;"> Le bardage </span> est une autre
                            solution
                            simple, rapide et économique qui donnera un côté
                            moderne à votre maison grâce à un matériau plus contemporain.
                        </li>
                    </ol>
                    <!-- Bootstrap collapse-->
                    <div class="card-group-custom card-group-light" id="accordion2" role="tablist"
                        aria-multiselectable="false">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- ui design-->
    <section class="section section-lg text-center text-md-left bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between flex-md-row-reverse">
                <div class="align-self-center col-md-6 col-xxl-5">
                    <h3>Se sentir bien chez soi toute l'année</h3>
                    <div class="divider divider-default"></div>

                    <p class="heading-5">L’inconfort thermique lié au froid l’hiver ou à la chaleur l’été sont des vrais
                        problèmes qui peuvent nuire à
                        votre bien être quotidien.L’isolation par l’extérieur est la meilleure solution pour votre
                        maison. Grâce à la
                        mise en place d’un isolant, vous protégez votre logement par une enveloppe qui entoure votre
                        maison. Cette
                        enveloppe est un véritable barrage qui vous protège des variations thermiques en provenance de
                        dehors.
                        Votre maison bénéficie ainsi tout au long de l’année d’une température constante et agréable
                        faisant
                        disparaître les sensations d’inconfort et ce tout en réduisant de manière significative votre
                        facture
                        énergétique.

                    </p>
                </div>
                <div class="col-md-6"><img src="../../../assets/images/Isolation par l'exterieur/isolationexterieur-façaderenovée-01-01-min.jpg" alt="" width="870"
                        height="580" />
                </div>
            </div>
        </div>
    </section>




    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>