.toHome:hover{
    color:  #8ec942 !important;
    text-decoration: underline;

}

hr.new5 {
    border: 1px solid #169331;
    border-radius: 5px;
  }

  .box-minimal .box-minimal-icon {

    color: #169331;
}
@media only screen and (max-width: 600px) {

  h6 {
    font-size: 14px !important;
  }

  .gallery-item img {

    transform: translateX(-5%);

}
}
@media screen and (max-width: 991px) and (min-width: 750px) {
  
.box-minimal-header > * {
    margin-left: 0; 
}
}

@media only screen and (max-width: 400px) {
  .gallery-item img {
    transform: translateX(-30%);

}
}
@media only screen and (max-width: 750px) {

.pictMobile{
  margin-left: 30px;;
}
.box-minimal-header > * {
  margin-left: 20 !important; 
}

}

.breadcrumbs-custom {

  background-image: url(../../../assets/images/Photo.jpg);
}




@media only screen and (max-width: 600px) {

  figure {
    width: 90%;
    margin-left: 20px;
    max-width: 0;
  }
}