.toHome:hover{
    color:  #8ec942 !important;
    text-decoration: underline;

}

hr.new5 {
    border: 1px solid #169331;
    border-radius: 5px;
  }

  .box-minimal .box-minimal-icon {

    color: #169331;
}
@media only screen and (max-width: 600px) {

  h6 {
    font-size: 15px !important;
  }
}

.breadcrumbs-custom {

  background-image: url(../../../assets/images/Home_page_isolation_par_lexterieur-01.jpg);
}