<div class="page">
    <div class="fixed-top">
      <app-navbar></app-navbar>
    </div>
  
    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
      <div class="shell">
        <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Notre Société</p>
        <ul class="breadcrumbs-custom-path">
          <li><a style="color: white;"class="toHome" href="#">Testez Votre éligibilité</a></li>
          <li style="color: white;" >Notre Société</li>
          <li style="color: white;" class="active">Air/Air</li>
        </ul>
      </div>
    </section>




    
    <!-- about service-->
    <section class="section section-lg text-center text-md-left bg-default">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-md-9 col-xl-5">
                    <h5>Comment fonctionne une pompe à chaleur Air/Eau ?</h5>
                    <div class="divider divider-default"></div>
                    <p>La pompe à chaleur (PAC) Air-Eau « en relève » ,
                        une unité extérieure puise des calories dans l'air extérieur 
                        pour les restituer sous forme de chaleur dans l’habitat
                        via un circuit d’eau, en relève de la chaudière. </p>
                    <br>
                   

                    <h5>Energie Gratuite</h5>
                    <div class="divider divider-default"></div>
                    <p>La pompe à chaleur (PAC) Air-Eau produit de l’énergie gratuite, elle utilise 75% d’air pour seulement 25 % d’énergie électrique. </p>


                    <br>
                   
                </div>
                <div class="col-xl-6 text-center"><img src="../../../assets/images/Pompe à chaleur/Air-eau/1-01-min (1).jpg"
                        alt="" width="720" height="485" />
                </div>
                
            </div>
            <h5>Comment fonctionne une pompe à chaleur Air/Eau ?</h5>
            <div class="col-md-9 col-xl-5 aa"><div class="divider divider-default "></div></div>
            
            <p>La pompe à chaleur (PAC) Air-Eau « en suppression » ,
                une unité extérieure puise des calories dans l'air extérieur 
                pour restituer sous forme de chaleur dans l’habitat
                via un circuit d’eau, en remplacement de la chaudière. </p>
        </div>
    </section>


    <!-- about service-->
    <section class="section section-lg text-center text-md-left bg-default">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-xl-6 text-center"><img src="../../../assets/images/Pompe à chaleur/Air-eau/2-01-min (1).jpg"
                    alt="" width="720" height="485" />
            </div>
                <div class="col-md-9 col-xl-5">
                   
                    <h5>Kit Hydraulique</h5>
                    <div class="divider divider-default"></div>
                    <p>La pompe à chaleur (PAC) Air-Eau utilise un
                        « Kit Hydraulique » Le « Kit Hydraulique » 
                        permet d’alimenter la sortie de l’eau à
                        une température maintenue de 80° pour le 
                        système de Chauffage.</p>


                    <br>
      
                    <h5>Thermostat d’ambiance</h5>
                    <div class="divider divider-default"></div>
                    <p>La pompe à chaleur (PAC) Air-Eau est équipé de « Thermostat d’ambiance » ce qui permet de 
                        contrôler la température et les chauffages des pièces.</p>
                        <br>

                        <h5>Installation</h5>
                        <div class="divider divider-default"></div>
                        <p>La pompe à chaleur (PAC) Air-Eau ,l’unité́ extérieure et le module intérieur s’installe ,cet ensemble sera raccordé au circuit de chauffage existant. </p>
    
                </div>
              
            </div>
        

        </div>
    </section>



  
  
    <!-- Footer Alternative-->
    <app-footer></app-footer>
  </div>
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>