<div class="page">

    <div class="fixed-top">
        <app-navbar></app-navbar>
    </div>

    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
        <div style="color: white;" class="shell">
            <p style="color: white;" class="breadcrumbs-custom-subtitle">Nos Offre</p>
            <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Pompe À Chaleur </p>
            <ul style="color: white;" class="breadcrumbs-custom-path">
                <li style="color: white;"><a style="color: white;" class="toHome" href="index.html"> Testez votre
                        éligibilité </a></li>
                <li style="color: white;" class="active">Nos Offre</li>
                <li style="color: white;" class="active">Pompe À Chaleur </li>
            </ul>
        </div>
    </section>

    <section class="section section-lg text-center text-md-left bg-default">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <div class="col-md-10 col-lg-12 col-xl-12 col-xxl-7">
                    <h3>Qu’est ce qu’une Pompe à Chaleur ?</h3>
                    <div class="divider divider-default"></div>
                    <p class="heading-5">
                        C’est un dispositif permettant de capter la chaleur naturelle présente dans notre environnement
                        et de la restituer
                        ailleurs afin de fournir un système de chauffage.
                    </p>
                    <br>
                    <p class="heading-5">
                        La pompe à chaleur équipe un grand nombre de logements. La raison de leur succès tient à un
                        fonctionnement
                        écologique et à leur capacité à faire réaliser des économies d’énergie.
                    </p>
                    <br>
                    <p class="heading-5">
                        Les travaux durent en moyenne 2 jours pour l’installation des différents équipements de la pompe
                        à chaleur,
                        notamment l’implantation et le raccordement des unités intérieures et extérieures, et le
                        paramétrage des
                        régulations. Un soin particulier doit aussi être apporté à la partie hydraulique.
                    </p>
                </div>
                <div style="text-align: center;" class="col-md-12"><img src="../../../assets/images/pompe-chaleur.png" alt=""  />
                </div>
                
            </div>
        </div>
    </section>

    


    <!-- Alternative Accordion-->
    <section class="section section-lg bg-default text-center">
        <div class="container">
            <div class="row row-50 justify-content-lg-center">
                <div class="col-lg-10 col-xl-8">

                    <!-- Bootstrap collapse-->
                    <div class=" card-group-custom card-group-light" id="accordion2" role="tablist"
                        aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse1"
                                        aria-controls="accordion2Collapse1" aria-expanded="true">Combien pourrais-je économiser en passant à la pompe à chaleur ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show" id="accordion2Collapse1" role="tabpanel"
                                aria-labelledby="accordion2Heading1">
                                <div class="card-body">
                                    <p style="color: black;">Il reste difficile d’estimer la consommation électrique d’une pompe à chaleur. A titre informatif, 1 kWh
                                        d’électricité fournit entre 3 et 6 kWh de chaleur. Si vous installez une pompe à chaleur, vous pouvez
                                        généralement économiser de 20 à 70% sur votre facture d’énergie.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading2" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse2"
                                        aria-controls="accordion2Collapse2">Puis-je passer du gaz à la pompe à chaleur ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse2" role="tabpanel"
                                aria-labelledby="accordion2Heading2">
                                <div class="card-body">
                                    <p style="color: black;"> <strong> Oui, il est possible de remplacer votre chaudière à gaz par une pompe à chaleur.</strong>
                                        La pompe à chaleur est un mode de chauffage plus avantageux sur le long-terme. Effectivement, si elle constitue
                                        un investissement de base important compte-tenu de la technologie sophistiquée qu’elle revêt, la pompe à
                                        chaleur n’a pas besoin de carburant et permet donc aux ménages de faire d’importantes économies sur le moyen
                                        et le long terme. Concrètement, l’installation d’une pompe à chaleur à la place d’une chaudière fonctionnant au
                                        gaz permettrait de diviser la facture énergétique d’un ménage jusqu’à près de trois fois.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-light">
                            <div class="card-heading" id="accordion2Heading3" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse3"
                                        aria-controls="accordion2Collapse3">Puis-je passer du fioul à la pompe à chaleur ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse3" role="tabpanel"
                                aria-labelledby="accordion2Heading3">
                                <div class="card-body">
                                    <p style="color: black;"> <strong> Oui, il est possible de remplacer votre chaudière à fioul par une pompe à chaleur.</strong>
                                        Les chaudières au fioul sont jugées polluantes et chères. En réponse aux défis de la transition énergétique, l’Etat
                                        a donc décidé l’interdiction des chaudières fioul très bientôt. D’ailleurs, dès 2022, l’installation d’une nouvelle
                                        chaudière de ce type sera interdite. Avec tout cela, les foyers chauffés au fioul devront se tourner vers un
                                        nouveau mode de chauffage. La pompe à chaleur est une très bonne alternative, étant un mode de chauffage plus
                                        performant, économique et écologique.</p>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>