
.table-color-header th.a{
    background-color:#014979 !important;
}
@media  screen and (max-width: 768px) {
.unit{
    display:initial !important;
}
}

@media  screen and (max-width: 500px) {
    .list-marked{
        padding-left: 0;
    }
}

.toHome:hover{
    color:  #8ec942 !important;
    text-decoration: underline;

}
.list-marked > li:before {
display: none;
}
.ico{
    color:#169331;
    margin-right: 10px;
}
.up{
    transform: translateY(0);
}

.table-color-header th {

    background-color: #169331;
}
.post-blog-article {

    padding: 0 10px;
}
