<div class="page">

  <section class="section fullwidth-page bg-image" style="background-image: url(../../../assets/images/PHOTO-HOMEPAGE-min.jpg);">
    <div class="fullwidth-page-inner">
      <div class="section-md text-center">
        <div class="container">
          <p class="breadcrumbs-custom-subtitle">Oups, voilà qui n'était pas prévu !</p>
          <p class="heading-1 breadcrumbs-custom-title">Erreur 404</p>
          <div class="page-footer container">
            <p class="right">Désolé mais ce lien est introuvable ! Dirigez-vous vers <a href="#">la page d’accueil</a>
              <br>
               ou <a href="/contact">contactez-nous</a> en cas de questions.</p>
          </div>
         
          <a class="button button-secondary" href="#"> Retour vers la page d’accueil </a>
          <br>
          <a class="button button-secondary" href="/faq"> Consulter la FAQ </a>

        </div>
      </div>
      <!-- Page Footer-->
      <div class="section-xs page-footer text-center">
        <div class="container">
          <p class="right"> <span class="copyright-year"></span> 
            &nbsp;<a href="/droits"> Tous Droits Réservés</a> à ARE
          </p>
        </div>
      </div>
    </div>
  </section>

    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>