<div class="page">

    <div class="fixed-top">
        <app-navbar></app-navbar>
    </div>

    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom breadcrumbs-custom-svg">
        <div style="color: white;" class="shell">
            <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Vos questions – Nos réponses</p>
            <ul style="color: white;" class="breadcrumbs-custom-path">
                <li style="color: white;"><a style="color: white;" class="toHome" href="index.html"> Testez votre
                        éligibilité </a></li>
                <li style="color: white;" class="active">Vos questions – Nos réponses</li>
            </ul>
        </div>
    </section>

 

    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            
            <h3>FAQ</h3>
                    <div class="divider divider-default"></div>
                    <div class="row row-50 justify-content-md-center justify-content-xl-between">
                
                    <p>
                        Vous avez des questions concernant les aides d’Action Logement ? Trouvez ici toutes les réponses ! Si vous
                        n’avez pas trouvé la réponse, n’hésitez pas à faire une recherche selon un mot-clé pour trouver les pages ou les
                        articles qui peuvent répondre à vos questions.
                    </p>
                <div class="col-sm-8 my-auto">
                    
                    <!-- Bootstrap collapse-->
                    <div class=" card-group-custom card-group-corporate" id="accordion2" role="tablist"
                    aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion2Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse1"
                                        aria-controls="accordion2Collapse1" aria-expanded="true">J’ai commencé des
                                        travaux de rénovation. Est-ce que l’aide à l’adaptation du logement au
                                        vieillissement s’accorde pour des travaux en cours ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show" id="accordion2Collapse1" role="tabpanel"
                                aria-labelledby="accordion2Heading1">
                                <div class="card-body">
                                    <p>Non, l’aide à l’adaptation du logement au vieillissement n’est pas accordée pour
                                        des
                                        travaux qui sont déjà commencés. Si vous souhaitez en bénéficier, alors avant de
                                        vous
                                        lancer dans ces travaux il faut faire les démarches nécessaires pour son
                                        obtention. Pour
                                        être sûr d’obtenir cette aide, sachez que vous devez avoir signé en préalable
                                        une
                                        convention de subvention (document remis par Action Logement Services) après la
                                        validation du devis et de ses justificatifs.
                                    </p>
                                    <p>
                                        Si vous projetez des travaux, alors avant de les commencer, nous vous
                                        conseillons de
                                        faire une simulation sur le site d’Action Logement pour savoir si oui ou non
                                        vous pouvez
                                        bénéficier de cette aide.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion2Heading2" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse2"
                                        aria-controls="accordion2Collapse2">J’ai un dossier en cours et souhaite
                                        contacter Action Logement Services, comment faire ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse2" role="tabpanel"
                                aria-labelledby="accordion2Heading2">
                                <div class="card-body">
                                    <p>Vous pouvez contacter votre interlocuteur habituel. Vous trouverez les
                                        coordonnées sur
                                        les documents de votre dossier. Ainsi il saura exactement de quoi vous parlez et
                                        pourra
                                        répondre à vos questions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion2Heading3" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion2" href="#accordion2Collapse3"
                                        aria-controls="accordion2Collapse3">Si vous avez des questions relatives à
                                        certaines aides exceptionnelles au logement,
                                        sélectionnez la FAQ présente sur le site d’Action Logement ou appuyez sur les
                                        liens
                                        suivants :
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion2Collapse3" role="tabpanel"
                                aria-labelledby="accordion2Heading3">
                                <div class="card-body">
                                    <ul class="list-ordered text-gray-darker">
                                        <li>FAQ aide exceptionnelle aux impayés de logement – Salariés des secteurs
                                            privé et agricole/li>
                                        <li>FAQ aide exceptionnelle au logement – Saisonniers agricoles</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div> -->

            </div>
        </div>
    </section>



    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">
                <!-- <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div> -->

                <div class="col-sm-8 my-auto">
                   
                    <div class=" card-group-custom card-group-corporate" id="accordion1" role="tablist"
                        aria-multiselectable="false">
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading1" role="tab">
                                <div class="card-title"><a role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse1"
                                        aria-controls="accordion1Collapse1" aria-expanded="true">C’est quoi un numéro de
                                        dossier ALS ?
                                        <div class="card-arrow"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show" id="accordion1Collapse1" role="tabpanel"
                                aria-labelledby="accordion1Heading1">
                                <div class="card-body">
                                    <p>Le numéro de dossier ALS (Action Logement Services) est différent de votre Numéro
                                        Unique d’enregistrement. Ce numéro de dossier ALS est disponible sur le tableau
                                        de
                                        bord de votre espace personnel sur le site d’Action Logement.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading2" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse2"
                                        aria-controls="accordion1Collapse2">Je perçois seulement une pension de
                                        réversion de mon époux / épouse défunt/e, est-ce
                                        que je peux bénéficier de l’aide à l’adaptation du logement au vieillissement ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse2" role="tabpanel"
                                aria-labelledby="accordion1Heading2">
                                <div class="card-body">
                                    <p>Oui, cette aide à l’adaptation du logement au vieillissement vous sera accordée
                                        si vous
                                        bénéficiez d’une pension de réversion et ne percevez pas de pension de retraite.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Bootstrap panel-->
                        <div class="card card-custom card-corporate">
                            <div class="card-heading" id="accordion1Heading3" role="tab">
                                <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion1" href="#accordion1Collapse3"
                                        aria-controls="accordion1Collapse3">Quel est le délai d'obtention d'un logement
                                        après le dépôt de la candidature ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div class="collapse" id="accordion1Collapse3" role="tabpanel"
                                aria-labelledby="accordion1Heading3">
                                <div class="card-body">
                                    <p>Le délai d’obtention d’un logement varie en fonction des bailleurs. Vous serez
                                        contacté/e
                                        dès que la commission d’attribution locative aura statué sur votre demande.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>




    <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
            <div class="row row-50 justify-content-md-center justify-content-xl-between">

                <div class="col-sm-8 my-auto">
                   
                    <div class="accordion" id="accordionExample">
                        <div class="card card-custom card-corporate">

                            <div class="card-headerg" id="headingOne" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">Qui sont les publics
                                        prioritaires pour l’attribution d’un logement ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <P>
                                        Les publics prioritaires doivent remplir des critères spécifiques. Vous pouvez
                                        vous
                                        renseigner sur le dispositif DALO (Droit Au Logement Opposable) pour vérifier si
                                        vous
                                        accomplissez les conditions d’éligibilité. Il y a aussi d’autres situations
                                        considérées
                                        comme prioritaires comme le handicap, la perte d’autonomie. Vous devez
                                        mentionner et
                                        justifier ces situations lorsque vous déposez votre demande.
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="card  card-custom card-corporate">
                            <div class="card-headerg" id="headingTwo" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">C’est quoi le statut de ma
                                        demande de logement ?

                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <P>
                                        Après avoir fait votre demande de logement, elle sera “active” si elle a été
                                        validée par
                                        Action Logement ou “en cours de saisie” si elle n’a pas encore bénéficié de
                                        cette
                                        validation. Après que votre demande de logement sera active, vous aurez un
                                        numéro
                                        unique d’enregistrement (NUD/NUR).
                                    </P>
                                </div>
                            </div>
                        </div>
                        <div class="card  card-custom card-corporate">
                            <div class="card-headerg" id="headingThree" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">Comment actualiser ma demande
                                        de logement ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Vous pouvez modifier votre demande de logement à tout moment. Pour cela il faut
                                    aller
                                    dans votre espace personnel. En fonction des modifications que vous avez faites,
                                    Action
                                    Logement peut vous demander d’autres pièces justificatives.
                                </div>
                            </div>
                        </div>


                        <div class="card  card-custom card-corporate">
                            <div class="card-headerg" id="headingTwo" role="tab">
                                <div class="card-title"><a data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">Que dois-je faire après le
                                        dépôt de ma candidature pour un logement ?
                                        <div class="card-arrow"> </div>
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <P>
                                        Après que vous avez déposé un dossier sur un logement, vous devez attendre que
                                        Action
                                        Logement valide votre demande pour envoi au bailleur.
                                    </P>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <div class="col-md-9 col-lg-5 col-xxl-4 text-center">
                    <figure class="image-default"><img src="../../../assets/images/accordions-2-570x600.jpg" alt=""
                            width="570" height="600" />
                    </figure>
                </div> -->

            </div>
        </div>
    </section>








    <!-- Footer Alternative-->
    <app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>