<div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="vivify popInLeft delay-150 container-fluid">
        <div *ngIf="firstHalf" class="card col-lg-5 col-md-8 ">
            <h4>First Half </h4>
            <h4 style="text-align: center;margin-top:30px; color:rgb(66, 185, 66)">Apprenons à se connaitre, complétons
                ensemble
                votre dossier.</h4>

            <br>

            <b style="color: black;">Nom & Prénom</b>
            <input type="text" name="userName" ngModel required #userName="ngModel">
            <div style="color:red" *ngIf="userName.errors && (userName.dirty || userName.touched)">
                <p *ngIf="userName.errors.required">
                    * user Name is required
                </p>
            </div>


            <b style="color: black;">Code postale</b>
            <input type="number" name="codePostale" ngModel required #codePostale="ngModel">
            <div style="color:red" *ngIf="codePostale.errors && (codePostale.dirty || codePostale.touched)">
                <p *ngIf="codePostale.errors.required">
                    * code postale is required
                </p>
            </div>

            <b style="color: black;">Votre numéro de téléphone</b>
            <input type="number" name="numTel" ngModel required #numTel="ngModel">
            <div style="color:red" *ngIf="numTel.errors && (numTel.dirty || numTel.touched)">
                <p *ngIf="numTel.errors.required">
                    * Numero Telephone is required
                </p>
            </div>

            <b style="color: black;">Email</b>
            <input type="text" name="email" ngModel required #email="ngModel">
            <div style="color:red" *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">
                    * email is required
                </p>
            </div>

            <b style="color: black;">Date et heure de rappel</b>

            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group calendar">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                            #d="ngbDatepicker" required #dp="ngModel">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary glyphicon glyphicon-calenda" (click)="d.toggle()"
                                type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path
                                        d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </button>

                        </div>

                    </div>

                    <select style="float: right;" class="horaire" id="country"
                        (change)="onChangeHoraire($event.target.value)" name="country">
                        <option value="au">Entre 8h et 11h</option>
                        <option value="ca">Entre 11h et 14h</option>
                        <option value="usa">Entre 14h et 17h</option>
                        <option value="usa">Entre 17h et 20h</option>
                    </select>
                </div>
            </div>
            <div style="color:red" *ngIf="dp.errors && (dp.dirty || dp.touched)">
                <p *ngIf="dp.errors.required">
                    * Date is required
                </p>
            </div>

            <br>

            <button [disabled]="!f.form.valid" class="buttonS" (click)="switchSecondHalf(f)"> Ensuite
            </button>

        </div>

    </form>


    <!--Secon Half -->
    <form (ngSubmit)="onSubmit(R)" #R="ngForm" *ngIf="secondHalf"
        class=" vivify popInLeft delay-150 card col-lg-5 col-md-8">
        <h4>SECOND HALFF</h4>

        <b style="color: black;">Que voulez-vous isoler ?</b>
        <table border="1">
            <tr>
                <td> <label><input type="radio" value="Camble" id='regular' name="isoler" ngModel>
                        &nbsp;&nbsp;Camble</label></td>
                <td> <label><input type="radio" value="Rampant" id='regular' name="isoler" ngModel>
                        &nbsp;&nbsp;Rampant</label></td>
                <td> <label><input type="radio" value="Garage" id='regular' name="isoler" ngModel>
                        &nbsp;&nbsp;Garage</label></td>
            </tr>
            <tr>
                <td> <label><input type="radio" value="Sous-sol/cave" id='regular' name="isoler" ngModel>
                        &nbsp;&nbsp;Sous-sol/cave</label></td>
                <td> <label><input type="radio" value="Vide Sanitaire" id='regular' name="isoler" ngModel>
                        &nbsp;&nbsp;Vide Sanitaire</label></td>
                <td> <label><input type="radio" value="Mur Iterieur" id='regular' name="isoler" ngModel> &nbsp;&nbsp;Mur
                        Iterieur</label></td>
            </tr>

        </table>
        <br>
        <b style="color: black;">Quelle est votre énergie de chauffage ?</b>
        <table border="1">
            <tr>
                <td> <label><input type="radio" id='regular' value="Electricite" name="chauffage" ngModel>
                        &nbsp;&nbsp;Electricité</label></td>
                <td> <label><input type="radio" id='regular' value="Gaz" name="chauffage" ngModel>
                        &nbsp;&nbsp;Gaz</label></td>
                <td> <label><input type="radio" id='regular' value="Fioul" name="chauffage" ngModel>
                        &nbsp;&nbsp;Fioul</label></td>
                <td> <label><input type="radio" id='regular' value="Bois" name="chauffage" ngModel>
                        &nbsp;&nbsp;Bois</label></td>
            </tr>
        </table>

        <br>

        <b style="color: black;">Combien de personnes vivent dans le foyers ? </b>
        <table border="1">
            <tr>
                <td> <label><input type="radio" id='regular' value="1" name="personnes" ngModel> &nbsp;&nbsp;1</label>
                </td>
                <td> <label><input type="radio" id='regular' value="2" name="personnes" ngModel> &nbsp;&nbsp;2</label>
                </td>
                <td> <label><input type="radio" id='regular' value="3" name="personnes" ngModel> &nbsp;&nbsp;3</label>
                </td>
                <td> <label><input type="radio" id='regular' value="4" name="personnes" ngModel> &nbsp;&nbsp;4</label>
                </td>
                <td> <label><input type="radio" id='regular' value="5" name="personnes" ngModel> &nbsp;&nbsp;5</label>
                </td>
                <td> <label><input type="radio" id='regular' value="+6" name="personnes" ngModel> &nbsp;+6</label></td>
            </tr>
        </table>
        <b style="color: black;">Quel est votre revenu annuel ?</b>
        <select id="country" name="Revenu annuel" (change)="onChangeRevenu($event.target.value)">
            <option value="au">Moins de 19 000 €</option>
            <option value="ca">Entre 19 000 € et 28 000 €</option>
            <option value="usa">Entre 28 000 € et 34 000 €</option>
            <option value="usa">Plus de 34 000 €</option>
        </select>

        <b style="color: black;">Quelle est la surface à isoler ?</b>
        <select id="country" name="Surface" (change)="onChangeSurface($event.target.value)">
            <option value="au">Moins de 50 m²</option>
            <option value="ca">Entre 50 m² et 100 m²</option>
            <option value="usa">Entre 100 m² et 200 m²</option>
            <option value="usa">Plus de 200 m²</option>
        </select>
        <br>

        
        <button class="buttonS"  type="submit"> Je Demande Ma subvention </button>
    </form>


    <!--Third Half -->
    <div  *ngIf="thirdHalf" style="justify-content:center"
        class=" vivify popInLeft delay-150 card col-lg-5 col-md-8">
        <h1 style="text-align: center; color:green;"> Success </h1>
    </div>
</div>