<div>
    <div class="vivify popInLeft delay-150 container-fluid">
        <div *ngIf="firstHalf" (mouseover)="hover1Btn()" class="card col-lg-5 col-md-8 ">
            <h4>First Half </h4>

            <b style="color: black;">Dans ce logement vous etes :</b>
            <table border="1">
                <tr>
                    <td> <label><input type="radio" id='regular' value="Proprietaire" name="logement"
                                [(ngModel)]="firstStepFormulaire.logement" #logement="ngModel">
                            &nbsp;&nbsp;Propriétaire</label></td>
                    <td> <label><input type="radio" id='regular' value="Locataire" name="logement"
                                [(ngModel)]="firstStepFormulaire.logement" #logement="ngModel">
                            &nbsp;&nbsp;Locataire</label></td>
                </tr>
            </table>

            <br>

            <b style="color: black;">Quel est votre mode de chauffage principal ?</b>
            <table border="1">
                <tr>
                    <td> <label><input type="radio" id='regular' value="Electricite" name="chauffage"
                                [(ngModel)]="firstStepFormulaire.chauffage">
                            &nbsp;&nbsp;Electricité</label></td>
                    <td> <label><input type="radio" id='regular' value="Gaz" name="chauffage"
                                [(ngModel)]="firstStepFormulaire.chauffage">
                            &nbsp;&nbsp;Gaz</label></td>
                    <td> <label><input type="radio" id='regular' value="Fioul" name="chauffage"
                                [(ngModel)]="firstStepFormulaire.chauffage">
                            &nbsp;&nbsp;Fioul</label></td>
                    <td> <label><input type="radio" id='regular' value="Autre" name="chauffage"
                                [(ngModel)]="firstStepFormulaire.chauffage">
                            &nbsp;&nbsp;Autre</label></td>
                </tr>
            </table>

            <br>

            <b style="color: black;">Que souhaitez-vous isoler ?</b>
            <table border="1">
                <tr>
                    <td style="width: 50%;"> <label><input type="checkbox" value="ITE" id='regular' name="ITE"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;ITE-Isolation thermique extérieur</label></td>
                    <td> <label><input type="checkbox" value="ITI" id='regular' name="ITI"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;ITI-isolation theremique intérieur</label></td>
                </tr>
                <tr>
                    <td> <label><input type="checkbox" value="Sous-sol/cave" id='regular' name="Sous-sol/cave"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;Sous-sol/cave</label></td>

                    <td> <label><input type="checkbox" value="Camble" id='regular' name="Camble"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;Combles perdus</label></td>
                </tr>
                <tr>

                    <td> <label><input type="checkbox" value="Garage" id='regular' name="Garage"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;Garage</label></td>
                    <td> <label><input type="checkbox" value="Vide Sanitaire" id='regular' name="Vide_Sanitaire"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;Vide Sanitaire</label></td>
                </tr>
                <tr>
                    <td colspan="2"> <label><input type="checkbox" value="PAC" id='regular' name="PAC"
                                (change)="checkValue($event)">
                            &nbsp;&nbsp;PAC-pompe à chaleur</label></td>


                </tr>

            </table>


            <!-- <b style="color: black;">Date et heure de rappel</b>

            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group calendar">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                            #d="ngbDatepicker" required #dp="ngModel">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary glyphicon glyphicon-calenda" (click)="d.toggle()"
                                type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-calendar-date" viewBox="0 0 16 16">
                                    <path
                                        d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </button>

                        </div>

                    </div>

                    <select style="float: right;" class="horaire" id="country"
                        (change)="onChangeHoraire($event.target.value)" name="country">
                        <option value="au">Entre 8h et 11h</option>
                        <option value="ca">Entre 11h et 14h</option>
                        <option value="usa">Entre 14h et 17h</option>
                        <option value="usa">Entre 17h et 20h</option>
                    </select>
                </div>
            </div>
            <div style="color:red" *ngIf="dp.errors && (dp.dirty || dp.touched)">
                <p *ngIf="dp.errors.required">
                    * Date is required
                </p>
            </div> -->

           
                <button class="buttonS" [disabled]="firstBTN" (click)="switchSecondHalf()"> Ensuite</button>
            

            
        </div>

    </div>


    <!--Secon Half -->
    <div *ngIf="secondHalf" (mouseover)="hover2Btn()"  class=" vivify popInLeft delay-150 card col-lg-5 col-md-8">
        <h4>SECOND HALFF</h4>

        <b *ngIf="isITE" style="color: black;">ITE-Isolation thermique extérieur</b>
        <input *ngIf="isITE" type="text" placeholder="surface de votre bien" name="ITE"
            [(ngModel)]="secondStepFormulaire.ITE" required > 
        <!-- <div ngIf="ITE.errors.required">
            <div  style="color:red" *ngIf="ITE.errors && (ITE.dirty || ITE.touched)">
                <p *ngIf="ITE.errors.required">
                    * surface de votre bien required
                </p>
            </div>
        </div> -->

        <br>
        <b *ngIf="isITI" style="color: black;">ITI-isolation theremique intérieur</b>
        <input *ngIf="isITI" type="text" placeholder="surface de votre bien" name="ITI"
            [(ngModel)]="secondStepFormulaire.ITI">
        <!-- <div  style="color:red" *ngIf="ITI.errors && (ITI.dirty || ITI.touched)">
            <p *ngIf="ITI.errors.required">
                * surface de votre bien required
            </p>
        </div> -->
        <br>

        <b *ngIf="isPac" style="color: black;">PAC-pompe à chaleur</b>
        <input *ngIf="isPac" type="text" placeholder="surface de votre bien" name="PACSurface"
            [(ngModel)]="secondStepFormulaire.PACSurface">
        <!-- <div style="color:red" *ngIf="PACSurfacee.errors && (PACSurface.dirty || PACSurface.touched)">
            <p *ngIf="PACSurface.errors.required">
                * surface de votre bien required
            </p>
        </div> -->

        <input *ngIf="isPac" type="number" placeholder="nombre de pieces" name="PACNumber"
            [(ngModel)]="secondStepFormulaire.PACNumber">
        <!-- <div style="color:red" *ngIf="PACNumber.errors && (PACNumberr.dirty || PACNumber.touched)">
            <p *ngIf="PACNumber.errors.required">
                * nombre de pieces: required
            </p>
        </div> -->

        <b *ngIf="isComble" style="color: black;">Vos combles sont-il aménagé ?</b>
        <table *ngIf="isComble" border="1">
            <tr>
                <td> <label><input type="radio" id='regular' value="Oui" name="combles"
                            [(ngModel)]="secondStepFormulaire.combles">
                        &nbsp;&nbsp;Oui</label></td>
                <td> <label><input type="radio" id='regular' value="Non" name="combles"
                            [(ngModel)]="secondStepFormulaire.combles">
                        &nbsp;&nbsp;Non</label></td>
            </tr>
        </table>
        <input *ngIf="isComble" type="text" placeholder="Surface de vos combles" name="comblesSurface"
            [(ngModel)]="secondStepFormulaire.comblesSurface">
        <!-- <div  style="color:red" *ngIf="comblesSurface.errors && (comblesSurface.dirty || comblesSurface.touched)">
            <p *ngIf="comblesSurface.errors.required">
                * surface de vos combles required
            </p>
        </div> -->

        <p *ngIf="isCave"> Surface de votre cave / sous sol :</p>
        <select *ngIf="isCave" id="surfaceCave" name="surfaceCave" (change)="onSurfaceCave($event.target.value)">
            <option value="" disabled>surface de votre cave / sous sol</option>
            <option value="moins de 35m2">moins de 35m2</option>
            <option value="entre 35 et 50m2">entre 35 et 50m2</option>
            <option value="supérieur à 50m2">supérieur à 50m2</option>
        </select>

        <p *ngIf="isGarage"> Surface Garages :</p>
        <select *ngIf="isGarage" id="surfaceGarage" name="surfaceGarage"
            (change)="onSurfaceGarages($event.target.value)">
            <option value="" disabled>Surface Garages</option>
            <option value="moins de 30m2">moins de 30m2</option>
            <option value="entre 30m2 et 50m2">entre 30m2 et 50m2</option>
            <option value="supérieur à 50m2">supérieur à 50m2</option>
        </select>

        <p *ngIf="isSanitaire"> Surface du vide sanitaire :</p>
        <select *ngIf="isSanitaire" id="surfaceVideSanitaire" name="surfaceVideSanitaire"
            (change)="onSurfaceVideSanitaire($event.target.value)">
            <option value="" disabled>Surface du vide sanitaire</option>
            <option value="moins de 30m2">moins de 30m2</option>
            <option value="entre 30m2 et 50m2">entre 30m2 et 50m2</option>
            <option value="supérieur à 50m2">supérieur à 50m2</option>
        </select>

        <b style="color: black;"> hauteur sous plafond de Vide sanitaire en cm</b>
        <input type="number" placeholder="hauteur vide sanitaire" name="hauteur_vide_sanitaire"
            [(ngModel)]="secondStepFormulaire.hauteur_vide_sanitaire">

        <b style="color: black;">Votre maison est situé </b>
        <table border="1">
            <tr>
                <td> <label><input type="radio" id='regular' value="ile de france" name="situe"
                            [(ngModel)]="secondStepFormulaire.situe">
                        &nbsp;&nbsp;ile de france </label></td>
                <td> <label><input type="radio" id='regular' value="autre region" name="situe"
                            [(ngModel)]="secondStepFormulaire.situe">
                        &nbsp;&nbsp;autre region</label></td>
            </tr>
        </table>

        <b style="color: black;">Nombre d'habitants du logement à titre de résidence principale ? </b>
        <table border="1">
            <tr>
                <td> <label><input type="radio" id='regular' value="1" name="personnes"
                            [(ngModel)]="secondStepFormulaire.personnes"> &nbsp;&nbsp;1</label>
                </td>
                <td> <label><input type="radio" id='regular' value="2" name="personnes"
                            [(ngModel)]="secondStepFormulaire.personnes"> &nbsp;&nbsp;2</label>
                </td>
                <td> <label><input type="radio" id='regular' value="3" name="personnes"
                            [(ngModel)]="secondStepFormulaire.personnes"> &nbsp;&nbsp;3</label>
                </td>
                <td> <label><input type="radio" id='regular' value="4" name="personnes"
                            [(ngModel)]="secondStepFormulaire.personnes"> &nbsp;&nbsp;4</label>
                </td>
                <td> <label><input type="radio" id='regular' value="5" name="personnes"
                            [(ngModel)]="secondStepFormulaire.personnes"> &nbsp;&nbsp;5</label>
                </td>
                <td> <label><input type="radio" id='regular' value="+6" name="personnes"
                            [(ngModel)]="secondStepFormulaire.personnes"> &nbsp;+6</label></td>
            </tr>
        </table>


        <b style="color: black;">Votre revenu fiscal de référence sur l'année 2019 ou 2020 ?</b>

        <select *ngIf="secondStepFormulaire.personnes==='1'" id="Revenu" name="Revenu annuel"
        (change)="onChangeRevenu($event.target.value)">
            <option value="moins de 14 879">moins de 14 879 €</option>
            <option value="entre 14879 et 19074">entre 14879 et 19074 €</option>
            <option value="plus de 19074">plus de 19074 €</option>
        </select>

        <select *ngIf="secondStepFormulaire.personnes==='2'" id="Revenu" name="Revenu annuel"
        (change)="onChangeRevenu($event.target.value)">
            <option value="moins de 21760">moins de 21760 €</option>
            <option value="entre 21760 et 27896">entre 21760 et 27896 €</option>
            <option value="plus de 27896">plus de 27896 €</option>
        </select>

        <select *ngIf="secondStepFormulaire.personnes==='3'" id="Revenu" name="Revenu annuel"
        (change)="onChangeRevenu($event.target.value)">
            <option value="moins de 26170">moins de 26170 €</option>
            <option value="entre  26170 et 33547">entre 26170 et 33547 €</option>
            <option value="plus de 33547">plus de 33547 €</option>
        </select>

        <select *ngIf="secondStepFormulaire.personnes==='4'" id="Revenu" name="Revenu annuel"
        (change)="onChangeRevenu($event.target.value)">
            <option value="moins de 30572">moins de 30572 €</option>
            <option value="entre  30572 et 39192">entre 30572 et 39192 €</option>
            <option value="plus de 39192">plus de 39192 €</option>
        </select>

        <select *ngIf="secondStepFormulaire.personnes==='5'" id="Revenu" name="Revenu annuel"
        (change)="onChangeRevenu($event.target.value)">
            <option value="moins de 34993">moins de 34993 €</option>
            <option value="entre 34993 et 44860">entre 34993 et 44860 €</option>
            <option value="plus de 44860">plus de 44860 €</option>
        </select>

        <select *ngIf="secondStepFormulaire.personnes==='+6'" id="Revenu" name="Revenu annuel"
        (change)="onChangeRevenu($event.target.value)">
            <option value="moins de 39405">moins de 39405 €</option>
            <option value="entre 39405 et 50511">entre 39405 et 50511 €</option>
            <option value="plus de 50511">plus de 50511 €</option>
        </select>

        <br>


        <button class="buttonS" [disabled]="SecondBTN" (click)='switchThirdStep()'> Je Demande Ma subvention </button>
    </div>


    <!--Third Half -->
    <div *ngIf="thirdHalf" style="justify-content:center" class=" vivify popInLeft delay-150 card col-lg-5 col-md-8">
        <b style="color: black;">Où seront réalisés les travaux d'isolation?</b>
        <input type="number" placeholder="code postale" name="codePostale"
            [(ngModel)]="thirdStepFormulaire.codePostale">
        <!-- <div style="color:red" *ngIf="codePostale.errors && (codePostale.dirty || codePostale.touched)">
            <p *ngIf="codePostale.errors.required">
                * code postale is required
            </p>
        </div> -->

        <input type="text" placeholder="Commune" name="commune" [(ngModel)]="thirdStepFormulaire.commune">
        <!-- <div style="color:red" *ngIf="commune.errors && (commune.dirty || commune.touched)">
            <p *ngIf="commune.errors.required">
                * Commune is required
            </p>
        </div> -->

        <b style="color: black;">Nom & Prénom</b>
        <input type="text" name="nom_prenom" [(ngModel)]="thirdStepFormulaire.nom_prenom">
        <!-- <div style="color:red" *ngIf="userName.errors && (userName.dirty || userName.touched)">
            <p *ngIf="userName.errors.required">
                * user Name is required
            </p>
        </div> -->



        <b style="color: black;">Votre numéro de téléphone</b>
        <input type="number" name="numTel" [(ngModel)]="thirdStepFormulaire.numTel">
        <!-- <div style="color:red" *ngIf="numTel.errors && (numTel.dirty || numTel.touched)">
            <p *ngIf="numTel.errors.required">
                * Numero Telephone is required
            </p>
        </div> -->

        <b style="color: black;">Email</b>
        <input type="text" name="email" [(ngModel)]="thirdStepFormulaire.email">
        <!-- <div style="color:red" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">
                * email is required
            </p>
        </div> -->

        <button class="buttonS" (click)='switchLastStep()'> submit </button>

    </div>

    <!-- last Step -->
    <div *ngIf="lastStep" style="justify-content:center" class=" vivify popInLeft delay-150 card col-lg-5 col-md-8">

        <h1>Un conseiller ARE vous contactera sous 48H
            pour vous accompagner dans votre projet</h1>
    </div>
</div>