.card{
    margin-top: 100px;
    float: right;
    height: auto;
    padding: 30px;
}
.cardd{
    height: 1150px !important;
}
/* .Round1InnerShadow {
  
    box-shadow: inset 0px 0px 21pt 10pt rgba(61,59,61,0.48);
    border: 1pt solid transparent;
     border-radius: 20px;
} */

table > tr >td:hover > label > .point {
    width: 120px;
    background: #6393ec;
  }


.pointed {
    height: 6px;
    width: 120px;
    background: #6393ec;
    transition: width 2s ease;
  }
.point {
    width: 1px;
    height: 6px;
    background: white;
    transition: width 2s ease;
  }
  


input[type=radio] {
    visibility: hidden;
}

td {
    height: 50px;
    vertical-align: middle;
    border: 1px solid black;
}

table {
    color: black;
    margin-top: 10px;
    text-align:center;
    font-weight: bold;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px black; /* this draws the table border  */ 
}

input[type=text] {
    margin-top: 10px;
    padding-left: 25px;
    height: 50px;
    vertical-align: middle;
    border-radius: 10px;
}

input[type=number] {
    margin-top: 10px;
    padding-left: 25px;
    height: 50px;
    vertical-align: middle;
    border-radius: 10px;
}

select {
    margin-top: 10px;
    padding-left: 25px;
    height: 50px;
    vertical-align: middle;
    border-radius: 10px;
  }

.buttonS{
    color: white;
    margin-top: 10px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right,  rgb(1, 73, 121), rgb(106, 189, 236));
}


.buttonS:hover{

    background-image: linear-gradient(to right,rgb(106, 189, 236) ,rgb(1, 73, 121));
}

.calendar{
    width: 50%;
}
.horaire{
    margin-top: -1px;
    margin-left: 30px;
    height: 40px;
    width: 150px;
}

@media (min-width: 885px){
    .calendar{
        width: none;
    }
    .horaire{
        margin-left: 0px ;
        width: auto;
    }
  
  }
  @media (min-width: 1080px){
    .calendar{
        width: 50%;
    }
    .horaire{
        margin-top: -1px;
        margin-left: 30px;
        height: 40px;
        width: 150px;
    }
  
  }
b {
    text-align: center;
}