<div class="page">
<div class="fixed-top">
  <app-navbar></app-navbar>
</div>
<header>
  <section class="breadcrumbs-custom breadcrumbs-custom-svg">
    <div class="shell">
=      <p style="color: white;" class="heading-1 breadcrumbs-custom-title">Blog</p>
      <ul class="breadcrumbs-custom-path">
        <li><a style="color: white;" class="toHome" href="#">Testez votre éligibilité</a></li>
        <li style="color: white;" class="active"> Blog</li>
      </ul>
    </div>
  </section>
</header>



<section class="section section-xl bg-gray-lighter">
  <div class="container container-bigger">
    <div class="row row-50 row-md-90 justify-content-md-center justify-content-xl-between">
      <div class="col-md-10 col-lg-8 col-xl-7 text-center">
        <div class="row row-30">
          <div *ngFor="let row of articles | paginate : {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count
            }; let i=index;" class="col-md-6 blog-masonry-column">
            <article routerLink="/DetailBlog/{{ row.id }}" class="post-blog"><a class="post-blog-image"><img
                  src="http://152.228.130.141:8000/uploads/{{row.picture}}" alt="" width="420" height="305" /></a>
              <div class="post-blog-caption">
                <div class="post-blog-caption-header">
                  <ul class="post-blog-tags">
                    <li><a class="button-tags" href="single-post.html">Nouvelles</a></li>
                  </ul>
                  <ul class="post-blog-meta">
                    <li><span>by</span>&nbsp;<a href="about-me.html"> {{row.author}} </a></li>
                  </ul>
                </div>
                <div class="post-blog-caption-body">
                  <h5><a class="post-blog-title" routerLink="/DetailBlog/{{ row.id }}">{{row.subject}} </a></h5>
                  <p>{{row.content}} </p>
                </div>
                <div class="post-blog-caption-footer">
                  <time datetime="2018"> {{row.createdAt | date:'medium'}} </time><a class="post-comment"
                    routerLink="/DetailBlog/{{ row.id }}"><span
                      class="icon novi-icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>3</span></a>
                </div>
              </div>
            </article>

          </div>
         
        </div>
      
        <div class="col-md-12">
          <pagination-controls class="page-item" previousLabel="Préc" nextLabel="Suiv" responsive="true"
            (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
        Article par page:
        <select (change)="handlePageSizeChange($event)">
          <option *ngFor="let size of pageSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>


      </div>
      <div class="col-md-10 col-lg-4 blog-aside">
        <div class="blog-aside-item">
          <h6>Rechercher</h6>
          <form class="rd-search rd-search-modern" action="search-results.html" method="GET">
            <div class="form-wrap">
              <input class="rd-search-input form-input" id="rd-search-input" type="text" name="s" autocomplete="off">
              <label class="form-label form-label" for="rd-search-input">Rechercher</label>
            </div>
            <button class="button mdi mdi-magnify" type="submit"></button>
          </form>
        </div>
        <div class="blog-aside-item">
          <h6>Archive</h6>
          <ul class="list-marked list-marked-secondary">
            <li><a href="#">January 2018</a></li>
            <li><a href="#">February 2018</a></li>
            <li><a href="#">March 2018</a></li>
            <li><a href="#">April 2018</a></li>
            <li><a href="#">May 2018</a></li>
          </ul>
        </div>
        <div class="blog-aside-item">
          <h6>Notre Société</h6>
          <p>ARE travaille depuis plus de 10 ans dans l’isolation et est devenue experte dans l’aide à l’obtention de subventions pour les travaux de mise aux normes de transition énergétique. Donc, pour faire simple : nous connaissons la musique (administrative). Et nous connaissons aussi notre métier. Alors, avant de vous lancer seul/e dans l’aventure, parlons-en !

          </p><a class="button button-xs button-default-outline"
          routerLink="/aboutus" >Lire la suite</a>
        </div>
       
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>